// Normal colors
$bg_color : #e8e8e8;
$fg_color : #101010;
$base_color : #FFFFFF;
$text_color : #1a1a1a;
$selected_bg_color : #4285c7;
$selected_fg_color : #FFFFFF;
$selected_base_color : #4285c7;
$selected_text_color : #FFFFFF;
$disabled_bg_color : gtkmix($fg_color, $bg_color, 0.95);
$disabled_fg_color : gtkmix($fg_color, $bg_color, 0.5);
$disabled_base_color : $disabled_bg_color;
$disabled_text_color : $disabled_fg_color;

// Backdrop state colors
$unfocused_bg_color : $bg_color;
$unfocused_fg_color : $fg_color;
$unfocused_base_color : $base_color;
$unfocused_text_color : $text_color;
$unfocused_selected_bg_color : $selected_bg_color;
$unfocused_selected_fg_color : $selected_fg_color;
$unfocused_selected_base_color : $selected_base_color;
$unfocused_selected_text_color : $selected_text_color;
$unfocused_disabled_bg_color : gtkmix($fg_color, $bg_color, 0.98);
$unfocused_disabled_fg_color : gtkmix($fg_color, $bg_color, 0.75);
$unfocused_disabled_base_color : $unfocused_disabled_bg_color;
$unfocused_disabled_text_color : $unfocused_disabled_fg_color;

// Darker color scheme
$dark_bg_color : #FFFFFF;
$dark_fg_color : #000000;

// Shadows
$dark_shadow : rgb(0, 0, 0);
$color_shadow : $selected_bg_color;
$light_shadow : rgb(255, 255, 255);
$wm_shadow : #000000;

// Borders
$borders : #686869;
$borders_color: $borders;
$outline_color : gtkshade($bg_color, 0.75);
$unfocused_borders : gtkshade($unfocused_bg_color, 0.9);

// Notification header backgrounds
$info_fg_color : #FFFFFF;
$info_bg_color : #0055FF;
$warning_fg_color : #FFFFFF;
$warning_bg_color : #FF8300;
$question_fg_color : #FFFFFF;
$question_bg_color : #2C2C2C;
$error_fg_color : #FFFFFF;
$error_bg_color : #FF0000;

// Special foreground colors
$link_color : #1D8ECE;
$error_color : #CC0000;
$success_color : #39E4A3;
$warning_color : #FF9900;

// Widget colors
$tooltip_bg_color : $dark_bg_color;
$tooltip_fg_color : $dark_fg_color;
$menu_bg_color : $bg_color;
$menu_fg_color : $fg_color;
$menubar_bg_color : $bg_color;
$menubar_fg_color : $fg_color;
$toolbar_bg_color : $bg_color;
$toolbar_fg_color : $fg_color;
$sidebar_bg_color : $dark_bg_color;
$sidebar_fg_color : $dark_fg_color;
$taskbar_bg_color : #484848;
$taskbar_fg_color : #FFFFFF;
$titlebar_bg_color : $selected_bg_color;
$titlebar_fg_color : $selected_fg_color;
$headerbar_bg_color : $selected_bg_color;
$headerbar_fg_color : $selected_fg_color;
$terminal_bg_color : #000000;
$terminal_fg_color : #FFFFFF;

// OSD
$osd_fg : $dark_fg_color;
$osd_bg : gtkmix($dark_bg_color, $dark_fg_color, 0.2);
$osd_base : $dark_bg_color;

// Budgie colors
$raven_fg_color : $dark_fg_color;
$raven_bg_color : gtkalpha($dark_bg_color, 0.9);

// Desktop Icons
$desktop_item_fg : #FFFFFF;
$desktop_item_selected_fg : $selected_fg_color;
$desktop_item_text_shadow : gtkalpha($dark_shadow, 0.8);

// LightDM greeter colors
$lightdm_bg_color : $dark_bg_color;
$lightdm_fg_color : $dark_fg_color;

// blx
$core_color_a: #FFA443; /* Core color for blue widgets in TraditionalOK. #a4c2e8*/
$core_color_a0:#F5F5B5;
$core_color_b: #f0ece8;
$progressbar_border_color: mix($borders_color, $core_color_a, 70%);
$progressbar_pattern_color:mix($fg_color,$core_color_a, 40%);

$progressbar_bg_color: mix($core_color_a0,$core_color_a, 60%);

$progressbar_gradient_a: mix($core_color_a0,$core_color_a, 40%);
$progressbar_gradient_b: mix($core_color_a0,$core_color_a, 4%);
$progressbar_gradient_c: mix($core_color_a0,$core_color_a, 4%);
$progressbar_gradient_d: mix($core_color_a0,$core_color_a, 40%);

$dark_fill: mix($borders_color, $core_color_b, 20%);
