@mixin normal_buttons($bg, $fg, $br) {
  padding: 2px 6px;
  min-height: 24px;
      min-width: 16px;
  border-style: solid;
  border-width: 1px;
  border-radius: $button_radius;
  color: $fg;
  border-color: $br;
  background-color: $bg;
  background-image: linear-gradient(to bottom,  #ffffff, #fdfcfd 10%, #efeeee 34%, #e4e4e4 36%, #fdfcfd 90%,#ffffff) ;

  &:hover {
    color: $fg;
    border-color: $br;
    background-color: gtkshade($bg, 1.1);
    background-image: linear-gradient(to bottom, #cae4fe, #cae4fe 10%, #a5cff9 34%, #84befa 36%, #dbffff);
  }

  &:active, &:checked {
    color: $fg;
    border-color: gtkshade($br, 0.9);
    background-color: gtkshade($bg, 0.85);
    background-image: linear-gradient(to bottom, #bbc7e1, #a6c0de 10%, #91b5e3 34%, #72a3e3 36%, #dbffff);

    &:disabled {
      color: gtkmix($fg, $disabled_fg_color, 0.1);
      border-color: $br;
      background-color: gtkmix(gtkshade($bg, 0.85), $disabled_bg_color, 0.1);
      
    }
  }

  &:disabled {
    color: gtkmix($fg, $unfocused_disabled_fg_color, 0.1);
    border-color: $br;
    background-color: gtkmix($bg, $disabled_bg_color, 0.1);
    background-image:linear-gradient(to bottom, lighten($bg_color, 1%),darken($bg_color, 2%) 50%,darken($bg_color, 4%) 50%, darken($bg_color, 1%));
    
    &:backdrop {
    //  color: $unfocused_disabled_fg_color;
      border-color: $br;
      background-color: $unfocused_disabled_bg_color;
    }
  }

  &:backdrop {
  //  border-color: $unfocused_borders;
 //   color: $unfocused_fg_color;
    background-color: $unfocused_bg_color;
  }
}

@mixin flat_buttons($bg, $fg, $br)
{
  border-color: transparent;
  border-radius: $button_radius;
  color: $fg;
  background-color: transparent;
  background-image:none;

  &:hover {
    border-color: $br;
    color: $fg;
    background-color: $bg;
    background-image: linear-gradient(to bottom, #cae4fe, #cae4fe 10%, #a5cff9 34%, #84befa 36%, #dbffff);
  }

  &:active, &:checked {
    border-color: $selected_bg_color;
    color: $selected_fg_color;
    background-color: $selected_bg_color;
    background-image: linear-gradient(to bottom, #bbc7e1, #a6c0de 10%, #91b5e3 34%, #72a3e3 36%, #dbffff);
  }

  &:disabled {
    border-color: transparent;
    color: gtkalpha($fg, 0.8);
    background-color: transparent;
  }

  &:backdrop {
    border-color: transparent;
    background-color: transparent;
    color: $unfocused_fg_color;
  }
}

@mixin button() {
  button {
    @include normal_buttons($bg_color, $fg_color, $borders);
    
    &.flat {
      @include flat_buttons($bg_color, $fg_color, $borders);
    }
  }
}
