@mixin frame() {
  .frame, frame > border {
    border-width: 1px;
    border-style: solid;
    border-color: $borders;
    border-radius: 0;
    box-shadow: none;
    background: none;
  }

  frame.flat > border, frame > border.flat, .frame.flat {
   border-style: none;
  }
  frame,
.frame {
  border: 1px solid $borders_color;
}

frame {
  border-radius: $csd_radius;

  > label {
    margin: 4px;
  }
}
}
