@mixin headerbar() {
  headerbar {
    padding: 4px 8px;
    min-height: 30px;
    color: $fg_color;
    background-color: $titlebar_bg_color;
    border-bottom: 1px solid $borders_color;
    background-image:  linear-gradient(to bottom, #d4d4d4,#bcbbbb);

    &:backdrop {
      color: $unfocused_fg_color;
          border-bottom: 1px solid $borders_color;
      background-color: $unfocused_bg_color;
      background-image:  linear-gradient(to bottom, #d4d4d4,#bcbbbb);
    }

    .tiled &, .tiled &:backdrop,
    .maximized &, .maximized &:backdrop {
      border-radius: 0;
    }
    
  .solid-csd & {
    &:backdrop, & {
      &:dir(rtl), &:dir(ltr) { // specificity bump
        margin-left: -1px;
        margin-right: -1px;
        margin-top: -1px;
        border-radius: 0;
        box-shadow: none;
      }
    }
  }
  
    .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
    }

    .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha(currentColor, 0.7);
    }

    button {
      border-color: $borders_color;
  border-radius: $button_radius;
    }
    
    //blx-hamburger-fix
    menubutton > button { margin-left:4px;margin-right:4px; border-radius: 6px;}
    
    switch:checked {
      border-color: gtkshade($selected_bg_color, 1.15);
      background-color: gtkshade($selected_bg_color, 1.15);
    }

    entry { padding: 4px 8px; }
    &.titlebar, .titlebar & { border-radius: $csd_radius $csd_radius 0px 0px; }
  }
}
