@mixin links() {
%link,
*:link {
  color: $link_color;

  &:visited {
    color: gtkmix($link_color, $fg_color, 0.2);

    *:selected & {
      color: gtkmix($selected_fg_color, $selected_bg_color, 0.4);
    }
  }

  &:hover {
    color: gtkshade($link_color, 1.1);

    *:selected & {
      color: gtkmix($selected_fg_color, $selected_bg_color, 0.9);
    }
  }

  &:active {
    color: $link_color;

    *:selected & {
      color: gtkmix($selected_fg_color, $selected_bg_color, 0.8);
    }
  }

  &:backdrop {
    &:backdrop:hover, &:backdrop:hover:selected, & {
      color: gtkmix($link_color, $unfocused_selected_bg_color, 0.3);
    }
  }

  @at-root %link_selected,
  &:selected, *:selected & {
    color: gtkmix($selected_fg_color, $selected_bg_color, 0.8);
  }
}

button:link, button:visited {
  @extend %link;

  border-color: transparent;
  background-color: transparent;
  text-shadow: none;

  &:hover, &:active, &:checked, &:focus:active {
    border-color: transparent;
    background-color: transparent;
    text-shadow: none;
  }

  > label {
    @extend %link;

    text-decoration-line: underline;
  }
}
}
