@mixin menu() {
  popover.menu, {
    margin: 0px;
    padding: 0;
    border-radius: $menu_radius;
    border-style: solid;
    border-color: $borders_color;
    color: $menu_fg_color;
    background-color: $menu_bg_color;

    box.inline-buttons {
    padding: 4px;
    }
    .csd & {
      padding: 0px 0px;
       border-radius: $menu_radius;
    border-style: solid;
    border-width: 1px;
        border-color: darken($bg_color, 20%);
    }
    
    
  accelerator {
    &:dir(ltr) {  margin-left: 12px;}
    &:dir(rtl) {  margin-right: 12px; }
  }
  
    > arrow {
      padding: 4px;
      border-color: transparent;
      background-color: $menu_bg_color;
      min-width: 16px;
      min-height: 16px;

      &.top {
        margin-top: -6px;
        border-bottom: 1px solid gtkshade($menu_bg_color, 0.9);
        -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
      }

      &.bottom {
        margin-bottom: -6px;
        border-top: 1px solid gtkshade($menu_bg_color, 0.9);
        -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
      }
    }
  }
}

@mixin menubar() {
  
  menubar {
  //box-shadow: inset 0 -1px transparentize($borders_color, 0.5);
  background-image: linear-gradient(to bottom,#bab9b9,#adacac);
  padding: 0px;

  > item {
    min-height: 16px;
    padding: 4px 8px;

    &:selected { //Seems like it :hover even with keyboard focus
      color: $selected_fg_color;
      background-color: $selected_bg_color;
      background-image: linear-gradient(to bottom, #007ed5, #5b78f6 8%, #2f52ee );
    }

    &:disabled {
      color: $disabled_fg_color;
      box-shadow: none;
    }
  }

  & > item popover.menu.background > contents {
    min-width:  80px;
    padding: 4px;
    //blx-note
  }
  //nested submenus
  & > item popover.menu popover.menu {
    padding:  4px ;
  }
  & > item popover.menu.background popover.menu.background > contents {
    margin: 0;
    border-radius: $menu_radius; //including top
  }
}
}


@mixin menuitem() {
       modelbutton {
    min-height: 27px;
    min-width: 40px;
    padding: 0 4px;
    padding-right: 6px;
    border-radius: $menu_radius;
    &:selected {
      color: $selected_fg_color;
      background-color: $selected_bg_color;
             background-image: linear-gradient(to bottom, #007ed5, #5b78f6 8%, #2f52ee );
    }
    &:selected:active {
      background-color: darken($bg_color,14%); // matching buttons
    }
}

modelbutton.flat arrow {
  background: none;
  min-width: 16px;
  min-height: 16px;
  opacity: 0.3; //dim icon
  color: #000;
  &:hover { background: none; }

 // &.left { -gtk-icon-source: image(-gtk-recolor(url("assets/left-arrow.svg"))); }
   &.left { -gtk-icon-source: image(-gtk-recolor(url("assets/left-arrow.svg"))); }

  &.right { -gtk-icon-source: image(-gtk-recolor(url("assets/right-arrow.svg"))); }
}

}
      
      

