@mixin messagedialog() {
  window.dialog.message {
    & .titlebar {
        background-image:  linear-gradient(to bottom, #d4d4d4,#bcbbbb);
            border-bottom: 1px solid $borders_color;
            min-height:24px;
   }
    decoration {
      border-radius: $csd_radius $csd_radius 0 0;
      box-shadow: 0 1px 2px gtkalpha($dark_shadow, 0.2);
    }
   & .dialog-action-area button{ margin:5px;} 
  }
}
