@mixin paned() {
  paned {
    > separator {
      min-width: 1px;
    min-height: 1px;
      border: none;
      color: transparent;
      background-image: image($borders);

      &:selected { background-image: image($borders); } // FIXME is this needed?
         
      &:backdrop {
        background-color: $unfocused_borders;
      }


    }

    .sidebar.left, .sidebar.right, .sidebar.left:dir(rtl), .sidebar:dir(rtl), .sidebar:dir(ltr), .sidebar {
      border-style: none;
    }
  }
}
