@mixin progressbar() {

$core_color_a: #FFA443; /* Core color for blue widgets in TraditionalOK. #a4c2e8*/
$core_color_a0:#F5F5B5;
$core_color_b: #f0ece8;
$progressbar_border_color: mix($borders_color, $core_color_a, 70%);
$progressbar_pattern_color:mix($fg_color,$core_color_a, 40%);

$progressbar_bg_color: mix($core_color_a0,$core_color_a, 60%);

$progressbar_gradient_a: mix($core_color_a0,$core_color_a, 40%);
$progressbar_gradient_b: mix($core_color_a0,$core_color_a, 4%);
$progressbar_gradient_c: mix($core_color_a0,$core_color_a, 4%);
$progressbar_gradient_d: mix($core_color_a0,$core_color_a, 40%);

$dark_fill: mix($borders_color, $core_color_b, 20%);

  progressbar {
    padding: 0;
    border: none;
    color: gtkmix($fg_color, $selected_fg_color, 0.5);
    background-color: transparent;

    & > progress {
       border-style:solid;
    border-width: 1px;
    border-color: $borders_color;
      border-radius: $progressbar_radius;
      background-color: $selected_bg_color;

      &:backdrop {
        background-color: $unfocused_selected_bg_color;
      }
    }

     & > trough {
     border-style:solid;
    border-width: 1px;
    border-color: $borders_color;
      border-radius: $progressbar_radius;
      background-color: gtkalpha($dark_shadow, 0.1);

      &:backdrop {
        background-color: gtkshade($unfocused_bg_color, 0.95);
      }
    }

    &.horizontal trough,
    &.horizontal progress {
      min-height: 16px;
    }
    
     &.horizontal trough {
     background-image: linear-gradient(to bottom, #e7e7e7, #e8e8e8 8%, #dbdbdb 33%, #f8f8f8 75%, #f8f8f8);
    }
    
    &.horizontal progress {
    background-image: linear-gradient(to right, transparent, transparentize(white, 0.95) 30%,transparentize(white, 0.8) 50%,transparentize(white, 0.95) 80%, transparent ), linear-gradient(to bottom,rgb(55, 90, 187) 0%, rgb(139, 180, 227) 21%, rgb(75, 142, 220) 43%, rgb(69, 151, 246) 64%, rgb(106, 190, 255) 86%, rgb(99, 171, 242) 100%);
      background-size: 20px 16px, auto;
    }

    &.vertical trough,
    &.vertical progress {
      min-width: 16px;
    }
    
     &.vertical trough {
      background-image: linear-gradient(to right, #e7e7e7, #e8e8e8 8%, #dbdbdb 33%, #f8f8f8 75%, #f8f8f8);
    }
    
    &.vertical progress {
    background-image: linear-gradient(to bottom, transparent, transparentize(white, 0.95) 30%,transparentize(white, 0.8) 50%,transparentize(white, 0.95) 80%, transparent ), linear-gradient(to right,rgb(55, 90, 187) 0%, rgb(139, 180, 227) 21%, rgb(75, 142, 220) 43%, rgb(69, 151, 246) 64%, rgb(106, 190, 255) 86%, rgb(99, 171, 242) 100%);
      background-size: 20px 16px, auto;
    }
  }

  treeview.view {
    &.progressbar {
      &, &:disabled {
        color: $selected_fg_color;
        border-radius: 0;
        background-color: $selected_bg_color;
      }

      &:focus, &:selected:focus, &:focus:selected, &:focus:selected:focus, &:disabled:selected {
        border-radius: 0;
        color: $selected_bg_color;
        background-color: $selected_fg_color;
      }
    }

    &.trough {
     // color: $fg_color;
      //background-color: gtkalpha($dark_shadow, 0.1);
     // border-radius: 0;
     // border: none;

      &:selected, &:selected:focus {
        color: $selected_fg_color;
        background-color: gtkalpha($dark_shadow, 0.1);
        border-radius: 0;
        border: none;
      }
    }

    infobar & trough, row:selected & trough {
      background-color: gtkalpha($dark_shadow, 0.1);
    }
  }
}
