@mixin scale() {
  scale {
    min-height: 10px;
    min-width: 10px;
    padding: 12px;

    fill, trough {
      border: none;
      border-radius: 4px;
      background-color: gtkalpha($dark_shadow, 0.2);
      outline-offset: 2px;
      
      &:disabled {
        background-color: gtkalpha($dark_shadow, 0.15);

        &:backdrop {
          background-color: gtkalpha($dark_shadow, 0.08);
        }
      }

      &:backdrop {
        background-color: gtkalpha($dark_shadow, 0.1);
      }
    }

    highlight {
      border: none;
      border-radius: 4px;
      background-color: $selected_bg_color;

      &:disabled {
        background-color: $disabled_bg_color;
        background-image:none;

        &:backdrop {
          background-color: $unfocused_disabled_bg_color;
                  background-image:none;
        }
      }

      &:backdrop {
        background-color: $unfocused_selected_bg_color;
      }
    }

    &.horizontal {
      indicator {
        min-height: 6px;
        min-width: 1px;
      }

      &.fine-tune indicator {
        min-height: 3px;
      }
    }

    &.vertical {
      indicator {
        min-height: 1px;
        min-width: 6px;
      }

      &.fine-tune indicator {
        min-width: 3px;
      }
    }

    &.fine-tune {
      &.horizontal {
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 14px;
      }

      &.vertical {
        padding-left: 10px;
        padding-right: 10px;
        min-width: 14px;
      }

      slider {
        margin: -6px;
      }

      fill, trough, highlight {
        border-radius: 0;
      }

      > marks {
               min-width: 12px;
        &.top {
                margin: -5px;
        }

        &.bottom {
               margin: -5px;
        }

        &.top {
               margin: -5px;
        }

        &.bottom {
                margin: -5px;
        }
      }
    }
//blx
&.horizontal {
    fill, trough {
    background-image: linear-gradient(to bottom, #e7e7e7, #e8e8e8 8%, #dbdbdb 33%, #f8f8f8 75%, #f8f8f8);
    border-style:solid;
    border-width: 1px;
    border-color: $borders_color;
    }
    highlight {background-image: linear-gradient(to right, transparent, transparentize(white, 0.95) 30%,transparentize(white, 0.8) 50%,transparentize(white, 0.95) 80%, transparent ), linear-gradient(to bottom,rgb(55, 90, 187) 0%, rgb(139, 180, 227) 21%, rgb(75, 142, 220) 43%, rgb(69, 151, 246) 64%, rgb(106, 190, 255) 86%, rgb(99, 171, 242) 100%);
     background-size: 20px 16px, auto;
          &:disabled{background-image:none;} }
    }
    
    &.vertical {
    fill, trough {
      background-image: linear-gradient(to right, #e7e7e7, #e8e8e8 8%, #dbdbdb 33%, #f8f8f8 75%, #f8f8f8);
    border-style:solid;
    border-width: 1px;
    border-color: $borders_color;
    }
    highlight {
    background-image: linear-gradient(to bottom, transparent, transparentize(white, 0.95) 30%,transparentize(white, 0.8) 50%,transparentize(white, 0.95) 80%, transparent ), linear-gradient(to right,rgb(55, 90, 187) 0%, rgb(139, 180, 227) 21%, rgb(75, 142, 220) 43%, rgb(69, 151, 246) 64%, rgb(106, 190, 255) 86%, rgb(99, 171, 242) 100%);
      background-size: 20px 16px, auto;
      &:disabled{background-image:none;}
    }
    }
    //blx
    slider {
      min-height: 12px;
      min-width: 12px;
      margin: -5px;
      border: none;
      border-radius: 100%;
      border-style: solid;
  border-width: 1px;
  border-color: $borders_color;
      color: $selected_fg_color;
      background-color: $selected_bg_color;
      background-image: linear-gradient(to bottom,  #ffffff, #fdfcfd 10%, #efeeee 34%, #e4e4e4 36%, #fdfcfd 90%,#ffffff) ;

      &:hover {
        color: $selected_fg_color;
        background-color: $selected_bg_color;
        background-image: linear-gradient(to bottom, #cae4fe, #cae4fe 10%, #a5cff9 34%, #84befa 36%, #dbffff);
      }

      &:disabled {
        background-color: $disabled_bg_color;
         background-color: gtkmix(gtkshade($bg_color, 0.85), $disabled_bg_color, 0.1);
        -gtk-icon-shadow: none;

        &:backdrop {
          background-color: $unfocused_disabled_bg_color;
          -gtk-icon-shadow: none;
        }
      }

      &:backdrop {
        color: $unfocused_selected_fg_color;
        background-color: $unfocused_selected_bg_color;
      }
  
    }
    
    //blx
    &.horizontal slider {
    min-width: 25px;
    border-radius: 4px;
  }

   &.vertical slider {
    min-height: 25px;
        border-radius: 4px;
  }
  //

    value {
      color: gtkalpha(currentColor,0.55);
    }

    marks {
      color: gtkalpha(currentColor,0.55);

      &.top {
        
      }

      &.bottom {
       
      }

      &.top {
        
      }

      &.bottom {
      
      }
    }
  }
}
