@mixin separator() {
  separator {
    -gtk-icon-source: none;
    min-width: 1px;
    min-height: 1px;
    background-color: $borders;

    &:not(.sidebar) {
    margin-top: 4px;
    margin-bottom: 4px;
    }
    
    button & { margin: 4px 1px; }
    
    headerbar & {
      margin-top: 4px;
      margin-bottom: 4px;
      background-color: gtkmix($headerbar_bg_color, $headerbar_fg_color, 0.1);
      background-image:none;

    }
    
    headerbar button & {
      border-color: gtkmix($headerbar_bg_color, $headerbar_fg_color, 0.1);
            background-image:none;

    }
    combobox & { border: none; }
  }
  
  popover.background {
  separator {
      background-color: gtkmix($menu_bg_color, $menu_fg_color, 0.1);
      margin: 3px;
    }
    }
}
