@mixin spinbutton() {
  spinbutton {
    &:not(.vertical) {
      border: 1px solid $borders;
      border-radius: $entry_radius;
      background-color: $base_color;
      
      &:disabled {
        border-color: $unfocused_borders;
        color: $disabled_fg_color;
        background-color: $disabled_base_color;

        &:backdrop {
          border-color: $unfocused_borders;
          color: $unfocused_disabled_fg_color;
          background-color: $unfocused_disabled_base_color;
        }
      }
      
      &:backdrop {
        background-color: $unfocused_base_color;
        border-color: $unfocused_borders;
      }

      &:focus { border-color: $selected_bg_color; }
    
      %spinbutton_horz_entry {
      min-width: 28px;
      // reset all the other props since the spinbutton node is styled here
      margin: 0;
      background: none;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow: none;
      padding: 6px;
    }

    > text {
      @extend %spinbutton_horz_entry;
      padding-left: 12px;
    }
    
      entry {
        padding: 7px 15px;
        min-width: 40px;
        border: none;
        background: none;
        border-radius: $entry_radius 0 0 $entry_radius;
        
        &:focus { box-shadow: none; }
        
        &:disabled { background: none; }
      }
      
      button {
        border: none;
        border-radius: 0;
        background: none;
        box-shadow: -1px 0 $borders;
        
        &:disabled, &:backdrop { box-shadow: -1px 0 $unfocused_borders; background: none; }
        &.up { border-radius: 0 $entry_radius $entry_radius 0; }
      }
    }

    &.vertical {
      > text {
        padding: 7px 7px;
        border-radius: 0;
        border: 1px solid $borders;
      background-color: $base_color;
        &:focus { box-shadow: none; }
        
        &:disabled { background: none; }
      }
      button {
        &.up {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom-width: 0;
        }

        &.down {
          border-top-width: 0;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
  }
}
