@mixin toolbar() {
  .toolbar, toolbar {
      border-spacing: 4px;
    padding: 4px;
    border: none;
    color: $fg_color;
    background-color: $toolbar_bg_color;
    background-image:  linear-gradient(to bottom, #adacac,#979597);
    box-shadow: inset 0 -1px transparentize($borders_color, 0.5);

    &:backdrop {
      color: $unfocused_fg_color;
      background-color: $unfocused_bg_color;
    }

    &:disabled {
      color: $disabled_fg_color;
      background-color: $disabled_bg_color;
    }

      /* oldstyle toolbar buttons */
    button, button.flat {
      @include flat_buttons($toolbar_bg_color, $toolbar_fg_color, $borders);
    }
  }
}
