@mixin treeview() {
  treeview {

    &.view {
      &:selected, &:selected:focus {
        border-radius: 0;
        color: $selected_fg_color;
        background-color: $selected_bg_color;
        
        &:backdrop {
          color: $unfocused_selected_fg_color;
          background-color: $unfocused_selected_bg_color;
        }
      }
    
      &:drop(active) {
        border-style: solid none;
        border-width: 1px;
        border-color: $selected_bg_color;
        
        &.after { border-top-style: none; }
        &.before { border-bottom-style: none; }
      }
    }

    header {
      button {
        border-radius: 0;
        border-style: solid;
        border-width: 0 1px 1px 0;
        background-image: none;
        background-color: $bg_color;
        
        &:last-child {
          border-width: 0 0 1px 0;
        }

        &, &:focus {
          &:hover {
            background-image: none;
            background-color: $bg_color;
          }
        
          &:active {
            color: $fg_color;
            background-image: none;
            background-color: gtkshade($bg_color, 0.9);
          }
        }
      }
    }

    entry, entry.flat {
      border-radius: 0;
      background-image: none;
      background-color: $base_color;
      
      &:focus {
        border-color: $selected_bg_color;
      }
    }
  }
  
  columnview.view,
treeview.view  {
    > header {
     > button {
        border-radius: 0;
        border-style: solid;
        border-width: 0 1px 1px 0;
        background-image: none;
        background-color: $bg_color;
        
        &:last-child {
          border-width: 0 0 1px 0;
        }

        &, &:focus {
          &:hover {
            background-image: none;
            background-color: $bg_color;
          }
        
          &:active {
            color: $fg_color;
            background-image: none;
            background-color: gtkshade($bg_color, 0.9);
          }
        }
      }
    } 
      }
    
    
}
