@mixin window-button() {  
    button {
      &.close, &.maximize, &.minimize {
        padding: 0px;
        margin-left: 3px;
        margin-right: 3px;
        min-height: 12px;
        min-width: 12px;
        border: none;
        color: transparent;
        background-color: transparent;
        
        background-position: center center;
        -gtk-icon-shadow: none;
        -gtk-icon-theme: 'Adwaita';

      }
      
      &.close {
      	-gtk-icon-theme: 'Adwaita';
        border-radius: 30px;
  min-width: 5px;
  padding: 0px;
  background-image: linear-gradient(to bottom, transparentize(#ba2c22, 1.0), transparentize(#ba2c22, 0.3) 20%,transparentize(#ba2c22, 0.7) 70%, transparentize(#ba2c22, 1.0)) , linear-gradient(to right, transparentize(white, 1.0), transparentize(white, 0.3) 50%, transparentize(white, 1.0)),linear-gradient(to bottom, #a83930, #ba2c22 9%, #ee8d83);
  border-color: darken(#ba2c22, 0.6);
  color: transparent;
 // box-shadow: inset 0 1px  darken(#ba2c22, 0.8), 0 1px transparentize(#fff, 0.5), -1px 0 transparentize(#fff, 0.5), 1px 0 transparentize(#fff, 0.5);
  &:hover {color:darken(#ba2c22, 0.6);}
  &:backdrop {
    background-image: 
    linear-gradient(to bottom, transparentize(#b2b2b3, 1.0), transparentize(#929292, 0.3) 20%,transparentize(#b2b2b3, 0.7) 70%, transparentize(#b2b2b3, 1.0)) , 
    linear-gradient(to right, transparentize(white, 1.0), transparentize(white, 0.3) 50%, transparentize(white, 1.0)),
    linear-gradient(to bottom,#929299 , #c4c4c5 20%, #e7e7e8 37%, #fbfcfc 92%, #f9f9f9);
    border-color: #3a3a3a;
//    box-shadow: inset 0 1px  #3a3a3a, 0 1px transparentize(#fff, 0.5), -1px 0 transparentize(#fff, 0.5), 1px 0 transparentize(#fff, 0.5);
    &:hover {   border-color: darken(#ba2c22, 0.6);  box-shadow: inset 0 1px  darken(#ba2c22, 0.8), 0 1px transparentize(#fff, 0.5), -1px 0 transparentize(#fff, 0.5), 1px 0 transparentize(#fff, 0.5);
      background-image: linear-gradient(to bottom, transparentize(#ba2c22, 1.0), transparentize(#ba2c22, 0.3) 20%,transparentize(#ba2c22, 0.7) 70%, transparentize(#ba2c22, 1.0)) , linear-gradient(to right, transparentize(white, 1.0), transparentize(white, 0.3) 50%, transparentize(white, 1.0)),linear-gradient(to bottom, #a83930, #ba2c22 9%, #ee8d83); }
  }
      }

      &.minimize {
       -gtk-icon-theme: 'Adwaita';
  background-image: linear-gradient(to bottom, transparentize(#b36024, 1.0), transparentize(#b36024, 0.3) 20%,transparentize(#b36024, 0.7) 70%, transparentize(#b36024, 1.0)) , linear-gradient(to right, transparentize(white, 1.0), transparentize(white, 0.3) 50%, transparentize(white, 1.0)),linear-gradient(to bottom, #9a5028, #b36024 8%, #dfbd89);
  border-radius: 30px;
  min-width: 5px;
  padding: 0px;
  border-color: darken(#9a5028, 0.3);
  color: transparent;
 // box-shadow: inset 0 1px  darken(#9a5028, 0.8), 0 1px transparentize(#fff, 0.5), -1px 0 transparentize(#fff, 0.5), 1px 0 transparentize(#fff, 0.5);
  &:hover {color:darken(#9a5028, 0.6);}
  &:backdrop {
    background-image: 
    linear-gradient(to bottom, transparentize(#b2b2b3, 1.0), transparentize(#929292, 0.3) 20%,transparentize(#b2b2b3, 0.7) 70%, transparentize(#b2b2b3, 1.0)) , 
    linear-gradient(to right, transparentize(white, 1.0), transparentize(white, 0.3) 50%, transparentize(white, 1.0)),
    linear-gradient(to bottom,#929299 , #c4c4c5 20%, #e7e7e8 37%, #fbfcfc 92%, #f9f9f9);
    border-color: #3a3a3a;
  //  box-shadow: inset 0 1px  #3a3a3a, 0 1px transparentize(#fff, 0.5), -1px 0 transparentize(#fff, 0.5), 1px 0 transparentize(#fff, 0.5);
    &:hover {color:darken(#9a5028, 0.6);  
   //         box-shadow: inset 0 1px  darken(#9a5028, 0.8), 0 1px transparentize(#fff, 0.5), -1px 0 transparentize(#fff, 0.5), 1px 0 transparentize(#fff, 0.5);
            background-image: linear-gradient(to bottom, transparentize(#b36024, 1.0), transparentize(#b36024, 0.3) 20%,transparentize(#b36024, 0.7) 70%, transparentize(#b36024, 1.0)) , linear-gradient(to right, transparentize(white, 1.0), transparentize(white, 0.3) 50%, transparentize(white, 1.0)),linear-gradient(to bottom, #9a5028, #b36024 8%, #dfbd89);
            }

     }
      }

      &.maximize {
       -gtk-icon-theme: 'Adwaita';
       border-radius: 30px;
  background-image: linear-gradient(to bottom, transparentize(#335816, 1.0), transparentize(#335816, 0.3) 20%,transparentize(#335816, 0.7) 70%, transparentize(#335816, 1.0)) , linear-gradient(to right, transparentize(white, 1.0), transparentize(white, 0.3) 50%, transparentize(white, 1.0)),linear-gradient(to bottom, #335816, #4c7d22 8%, #a0c576);
  min-width: 5px;
  padding: 0px;
  border-color: darken(#335816, 0.3);
  color: transparent;
 // box-shadow: inset 0 1px  darken(#335816, 0.8), 0 1px transparentize(#fff, 0.5), -1px 0 transparentize(#fff, 0.5), 1px 0 transparentize(#fff, 0.5);
  &:hover {color:darken(#335816, 0.6);}
    &:backdrop {
    background-image: 
    linear-gradient(to bottom, transparentize(#b2b2b3, 1.0), transparentize(#929292, 0.3) 20%,transparentize(#b2b2b3, 0.7) 70%, transparentize(#b2b2b3, 1.0)) , 
    linear-gradient(to right, transparentize(white, 1.0), transparentize(white, 0.3) 50%, transparentize(white, 1.0)),
    linear-gradient(to bottom,#929299 , #c4c4c5 20%, #e7e7e8 37%, #fbfcfc 92%, #f9f9f9);
    border-color: #3a3a3a;
  //  box-shadow: inset 0 1px  #3a3a3a, 0 1px transparentize(#fff, 0.5), -1px 0 transparentize(#fff, 0.5), 1px 0 transparentize(#fff, 0.5);
      &:hover {color:darken(#335816, 0.6);
  //            box-shadow: inset 0 1px  darken(#335816, 0.8), 0 1px transparentize(#fff, 0.5), -1px 0 transparentize(#fff, 0.5), 1px 0 transparentize(#fff, 0.5);
              background-image: linear-gradient(to bottom, transparentize(#335816, 1.0), transparentize(#335816, 0.3) 20%,transparentize(#335816, 0.7) 70%, transparentize(#335816, 1.0)) , linear-gradient(to right, transparentize(white, 1.0), transparentize(white, 0.3) 50%, transparentize(white, 1.0)),linear-gradient(to bottom, #335816, #4c7d22 8%, #a0c576);
              }
     }
      }
    }
    
 }
