// wildcard settings
* {
  background-clip: padding-box;
  outline-width: $outline_width;
  outline-offset: -3px;
  outline-style: $outline_style;
  outline-color: $outline_color;
  outline: 0 solid transparent;
}


@include background();



.gtkstyle-fallback {
  color: $fg_color;
  background-color: $bg_color;

  &:hover {
    color: $fg_color;
    background-color: gtkshade($bg_color, 1.1);
  }

  &:active {
    color: $fg_color;
    background-color: gtkshade($bg_color, 0.9);
  }

  &:disabled {
    color: $disabled_fg_color;
    background-color: $disabled_bg_color;
  }

  &:selected {
    color: $selected_fg_color;
    background-color: $selected_bg_color;
  }
}

image, image:disabled, label, label:disabled, box, box:disabled {
  background-color: transparent;
}

@include labels();

// blx-clean @include transitions();

assistant {
  .sidebar label.highlight {
    color: $selected_fg_color;
    background-color: $selected_bg_color;
  }

  .sidebar {
    padding: 4px;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-radius: 0;
    border-right-color: $borders;
    color: $fg_color;
    background-color: $bg_color;
  }
}

link,gridview,flowbox,iconview,label,button,columnview.view,treeview.view,checkbutton, row, {
  @include focus-ring();
}

entry {
 @include focus-ring($focus-state: 'focus-within');
}

switch {
  @include focus-ring($offset: 0, $outer: true);
}

scale {
@include focus-ring("> trough", $offset: 10px);
}

expander-widget {
  @include focus-ring("> box > title");
  }
  
plane {
  @include focus-ring($offset: 2px, $outer: true);
}

gridview {
  > rubberband { @extend rubberband; }

  > child {
    padding: 3px;

    @include focus-ring();

    &:selected {
    }

    box { //cells
      border-spacing: 8px; //label separation
      margin: 12px;
    }
  }
}

// link widgets
@include links();

@include button();

@include checkradio();

.content-view.view {
  background-color: $base_color;

  &:hover {
    background-color: gtkalpha($selected_bg_color, 0.6);
  }

  &:selected, &:active {
    background-color: $selected_bg_color;
  }

  &:disabled {
    background-color: gtkshade($base_color, 0.9);
  }
}

// blx-clean @include calendar();

@include entry();

@include expander();

@include list();

@include frame();

//da @include iconview();

//da @include flowbox();

//da @include infobar();

// blx-clean @include images();

// blx-clean @include fting_baloar();

//da @include terminal();

// blx-clean @include miscellaneous();

@include menu();

@include menubar();

//da blx-clean @include menubar_menuitem();

@include menuitem();

//da @include popover();

//da @include modelbutton();

@include notebook();

@include paned();

//da @include over_undershoot();

@include progressbar();

// blx-clean @include levelbar();

@include scale();

@include scrollbar();

@include separator();

@include spinbutton();

// spinner 
@keyframes spin {
  to {
    -gtk-icon-transform: rotate(1turn); }
}

spinner {
  background: none;
  opacity: 0;
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic");

  &:checked {
    opacity: 1;
    animation: spin 1s linear infinite;

    &:disabled {
      opacity: 0.5;
    }
  }
}

// blx-clean @include statusbar();

@include switch();

// color chooser 
colorswatch {
  &.top {
    border-top-left-radius: 2.5px;
    border-top-right-radius: 2.5px;

    overlay {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
  }
  &.bottom {
    border-bottom-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px;

    overlay {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }

  &.left, &:first-child:not(.top) {
    border-top-left-radius: 2.5px;
    border-bottom-left-radius: 2.5px;

    overlay {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }

  &.right, &:last-child:not(.bottom) {
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;

    overlay {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }

  &.dark overlay {
    color: gtkalpha($light_shadow, 0.7);

    &:hover {
      border-color: gtkalpha($dark_shadow, 0.5);
    }
  }

  &.light overlay {
    color: gtkalpha($light_shadow, 0.7);

    &:hover {
      border-color: gtkalpha($dark_shadow, 0.3);
    }
  }

  overlay {
    border: 1px solid gtkalpha($dark_shadow, 0.15);

    &:hover {
      background-color: gtkalpha($light_shadow, 0.2);
    }
  }

  &:disabled {
    opacity: 0.5;

    overlay {
      border-color: gtkalpha($dark_shadow, 0.6);
      box-shadow: none;
    }
  }
}

button.color {
  padding: 0;

  colorswatch:first-child:last-child, colorswatch:first-child:last-child overlay {
    margin: 4px;
    border-radius: 0;
  }
}

colorchooser {
  .popover.osd {
    border-radius: 0;
  }

  #add-color-button {
    background-clip: padding-box;
    border-color: gtkalpha($dark_shadow, 0.1);
    background-color: gtkshade($bg_color, 0.95);
    color: $fg_color;

    &:hover {
      border-color: gtkalpha($dark_shadow, 0.3);
      background-color: gtkshade($bg_color, 0.90);
      color: $fg_color;
    }
  }
}

// blx-clean @include pathbar();

@include headerbar();
@include window-button();

@include toolbar();

// blx-clean @include primary_toolbar();

// blx-drop @include inline_toolbar();

@include linked_widgets();

//da @include linked_styles();

@include tooltip();

//da @include textview();

@include treeview();

@include view();

@include sidebar();
@include common_row();

// blx-clean @include actionbar();

// blx-clean @include searchbar();

// blx-clean @include app_notifications();

//da @include osd;

//da @include destructive_button();

//da @include suggested_button();

// blx-clean @include headerbar_suggested_button();

//da @include selection_mode();

@include decoration();

// blx-clean @include titlebar();

@include messagedialog();

// desktop theme rules
// blx-clean  @include desktop_icons();

// blx-clean  @include gnome_flashback();

// blx-clean  @include mate();

// blx-clean  @include xfce();

// blx-clean  @include nemo();

// blx-clean  @include unity();
