$roundness : 0px;
$entry_radius : 20px;
$button_radius : 20px;
$tab_radius : 0px;
$progressbar_radius : 3px;
$scrollbar_radius : 0px;
$csd_radius : 4px;
$view_radius : 0px;
$top_primary_stepper: false;
$bottom_primary_stepper: false;
$top_secondary_stepper: false;
$bottom_secondary_stepper: false;
$check_size: 13px;
$menu_radius : 3px;

// outline
$outline_width : 1px;
$outline_offset : -3px;
$outline_style : dashed;
