/* Core color for blue widgets in TraditionalOK. #a4c2e8*/
* { background-clip: padding-box; outline-width: 1px; outline-offset: -3px; outline-style: dashed; outline-color: #aeaeae; outline: 0 solid transparent; }

.background { color: #101010; background-color: rgba(232, 232, 232, 0.999); }

.background:backdrop { color: #101010; background-color: #e8e8e8; }

.gtkstyle-fallback { color: #101010; background-color: #e8e8e8; }

.gtkstyle-fallback:hover { color: #101010; background-color: white; }

.gtkstyle-fallback:active { color: #101010; background-color: #d1d1d1; }

.gtkstyle-fallback:disabled { color: #7c7c7c; background-color: #dddddd; }

.gtkstyle-fallback:selected { color: #FFFFFF; background-color: #4285c7; }

image, image:disabled, label, label:disabled, box, box:disabled { background-color: transparent; }

label selection { background-color: #4285c7; color: #FFFFFF; }

label.dim-label, label.separator, popover label.separator, popover.background label.separator, label:disabled { opacity: 0.55; }

assistant .sidebar label.highlight { color: #FFFFFF; background-color: #4285c7; }

assistant .sidebar { padding: 4px; border-width: 0 1px 0 0; border-style: solid; border-radius: 0; border-right-color: #686869; color: #101010; background-color: #e8e8e8; }

link, gridview, flowbox, iconview, label, button, columnview.view, treeview.view, checkbutton, row { outline: 0 solid transparent; outline-offset: 4px; }

link:focus:focus-visible, gridview:focus:focus-visible, flowbox:focus:focus-visible, iconview:focus:focus-visible, label:focus:focus-visible, button:focus:focus-visible, columnview.view:focus:focus-visible, treeview.view:focus:focus-visible, checkbutton:focus:focus-visible, row:focus:focus-visible { outline-color: rgba(66, 133, 199, 0.5); outline-width: 2px; outline-offset: -2px; }

entry { outline: 0 solid transparent; outline-offset: 4px; }

entry:focus-within { outline-color: rgba(66, 133, 199, 0.5); outline-width: 2px; outline-offset: -2px; }

switch { outline: 0 solid transparent; outline-offset: 4px; }

switch:focus:focus-visible { outline-color: rgba(66, 133, 199, 0.5); outline-width: 2px; outline-offset: 0; }

scale > trough { outline: 0 solid transparent; outline-offset: 16px; }

scale:focus:focus-visible > trough { outline-color: rgba(66, 133, 199, 0.5); outline-width: 2px; outline-offset: 10px; }

expander-widget > box > title { outline: 0 solid transparent; outline-offset: 4px; }

expander-widget:focus:focus-visible > box > title { outline-color: rgba(66, 133, 199, 0.5); outline-width: 2px; outline-offset: -2px; }

plane { outline: 0 solid transparent; outline-offset: 6px; }

plane:focus:focus-visible { outline-color: rgba(66, 133, 199, 0.5); outline-width: 2px; outline-offset: 2px; }

gridview > child { padding: 3px; }

gridview > child { outline: 0 solid transparent; outline-offset: 4px; }

gridview > child:focus:focus-visible { outline-color: rgba(66, 133, 199, 0.5); outline-width: 2px; outline-offset: -2px; }

gridview > child box { border-spacing: 8px; margin: 12px; }

button:link > label, button:visited > label, button:link, button:visited, *:link { color: #1D8ECE; }

button:link > label:visited, button:visited > label:visited, button:visited, *:link:visited { color: #1a75a8; }

*:selected button:link > label:visited, *:selected button:visited > label:visited, *:selected button:visited, *:selected *:link:visited { color: #b3cee9; }

button:link > label:hover, button:visited > label:hover, button:hover:link, button:hover:visited, *:link:hover { color: #199ee9; }

*:selected button:link > label:hover, *:selected button:visited > label:hover, *:selected button:hover:link, *:selected button:hover:visited, *:selected *:link:hover { color: #5591cd; }

button:link > label:active, button:visited > label:active, button:active:link, button:active:visited, *:link:active { color: #1D8ECE; }

*:selected button:link > label:active, *:selected button:visited > label:active, *:selected button:active:link, *:selected button:active:visited, *:selected *:link:active { color: #689dd2; }

button:link > label:backdrop, button:visited > label:backdrop, button:backdrop:link, button:backdrop:visited, *:link:backdrop:backdrop:hover, *:link:backdrop:backdrop:hover:selected, *:link:backdrop { color: #288bcc; }

button:link > label:selected, button:visited > label:selected, button:selected:link, button:selected:visited, *:selected button:link > label, *:selected button:visited > label, *:selected button:link, *:selected button:visited, *:link:selected, *:selected *:link { color: #689dd2; }

button:link, button:visited { border-color: transparent; background-color: transparent; text-shadow: none; }

button:link:hover, button:link:active, button:link:checked, button:link:focus:active, button:visited:hover, button:visited:active, button:visited:checked, button:visited:focus:active { border-color: transparent; background-color: transparent; text-shadow: none; }

button:link > label, button:visited > label { text-decoration-line: underline; }

button { padding: 2px 6px; min-height: 24px; min-width: 16px; border-style: solid; border-width: 1px; border-radius: 20px; color: #101010; border-color: #686869; background-color: #e8e8e8; background-image: linear-gradient(to bottom, #ffffff, #fdfcfd 10%, #efeeee 34%, #e4e4e4 36%, #fdfcfd 90%, #ffffff); }

button:hover { color: #101010; border-color: #686869; background-color: white; background-image: linear-gradient(to bottom, #cae4fe, #cae4fe 10%, #a5cff9 34%, #84befa 36%, #dbffff); }

button:active, button:checked { color: #101010; border-color: #5e5e5e; background-color: #c5c5c5; background-image: linear-gradient(to bottom, #bbc7e1, #a6c0de 10%, #91b5e3 34%, #72a3e3 36%, #dbffff); }

button:active:disabled, button:checked:disabled { color: #1b1b1b; border-color: #686869; background-color: #c8c8c8; }

button:disabled { color: #202020; border-color: #686869; background-color: #e7e7e7; background-image: linear-gradient(to bottom, #ebebeb, #e3e3e3 50%, #dedede 50%, #e5e5e5); }

button:disabled:backdrop { border-color: #686869; background-color: #e4e4e4; }

button:backdrop { background-color: #e8e8e8; }

button.flat { border-color: transparent; border-radius: 20px; color: #101010; background-color: transparent; background-image: none; }

button.flat:hover { border-color: #686869; color: #101010; background-color: #e8e8e8; background-image: linear-gradient(to bottom, #cae4fe, #cae4fe 10%, #a5cff9 34%, #84befa 36%, #dbffff); }

button.flat:active, button.flat:checked { border-color: #4285c7; color: #FFFFFF; background-color: #4285c7; background-image: linear-gradient(to bottom, #bbc7e1, #a6c0de 10%, #91b5e3 34%, #72a3e3 36%, #dbffff); }

button.flat:disabled { border-color: transparent; color: rgba(16, 16, 16, 0.8); background-color: transparent; }

button.flat:backdrop { border-color: transparent; background-color: transparent; color: #101010; }

checkbutton.text-button, radiobutton.text-button { padding: 0px; }

check, radio { -gtk-icon-size: 13px; outline-offset: 0px; margin: 4px; min-height: 13px; min-width: 13px; padding: 0px; }

check, radio { outline: 0 solid transparent; outline-offset: 4px; }

check:focus:focus-visible, radio:focus:focus-visible { outline-color: rgba(66, 133, 199, 0.5); outline-width: 2px; outline-offset: -2px; }

check, .check { background-image: linear-gradient(to bottom, #ffffff, #e8e8e8 50%, #ffffff); border-color: #686869; border-style: solid; border-radius: 2px; border-width: 1px; box-shadow: 0 1px rgba(0, 0, 0, 0.05); }

check:active, check:checked, .check:active, .check:checked { background: linear-gradient(to bottom, #c7dcf0 0%, #94bee8 15%, #67a5e4 54%, #afe5ff 88%, #c2fbff 100%); box-shadow: inset 0 1px 1px 0px rgba(0, 0, 0, 0.2); -gtk-icon-source: image(-gtk-recolor(url("assets/check-symbolic.svg"))); }

check:active:disabled, check:checked:disabled, .check:active:disabled, .check:checked:disabled { color: rgba(16, 16, 16, 0.7); background-image: linear-gradient(to bottom, #919191 20%, #858585); }

check:indeterminate, .check:indeterminate { -gtk-icon-source: image(-gtk-recolor(url("assets/dash-symbolic.svg"))); }

check:indeterminate:disabled, .check:indeterminate:disabled { background-image: none; background-color: #FFFFFF; }

row:selected check, row:selected .check { background-image: linear-gradient(to bottom, #ffffff, #e8e8e8 50%, #ffffff); border-color: #686869; border-style: solid; border-radius: 2px; border-width: 1px; box-shadow: 0 1px rgba(0, 0, 0, 0.05); }

row:selected check:active, row:selected check:checked, row:selected .check:active, row:selected .check:checked { background: linear-gradient(to bottom, #c7dcf0 0%, #94bee8 15%, #67a5e4 54%, #afe5ff 88%, #c2fbff 100%); box-shadow: inset 0 1px 1px 0px rgba(0, 0, 0, 0.2); -gtk-icon-source: image(-gtk-recolor(url("assets/check-symbolic.svg"))); }

row:selected check:active:disabled, row:selected check:checked:disabled, row:selected .check:active:disabled, row:selected .check:checked:disabled { color: rgba(16, 16, 16, 0.7); background-image: linear-gradient(to bottom, #919191 20%, #858585); }

row:selected check:indeterminate, row:selected .check:indeterminate { -gtk-icon-source: image(-gtk-recolor(url("assets/dash-symbolic.svg"))); }

row:selected check:indeterminate:disabled, row:selected .check:indeterminate:disabled { background-image: none; background-color: #FFFFFF; }

radio, .radio { background-image: linear-gradient(to bottom, #ffffff, #e8e8e8 50%, #ffffff); border-color: #686869; border-style: solid; border-radius: 40px; border-width: 1px; box-shadow: 0 1px rgba(0, 0, 0, 0.05); }

radio:active, radio:checked, .radio:active, .radio:checked { background: linear-gradient(to bottom, #c7dcf0 0%, #94bee8 15%, #67a5e4 54%, #afe5ff 88%, #c2fbff 100%); box-shadow: inset 0 1px 1px 0px rgba(0, 0, 0, 0.2); -gtk-icon-source: image(-gtk-recolor(url("assets/bullet-symbolic.svg")), -gtk-recolor(url("assets/bullet-symbolic.symbolic.png"))); }

radio:active:disabled, radio:checked:disabled, .radio:active:disabled, .radio:checked:disabled { color: rgba(16, 16, 16, 0.7); background-image: linear-gradient(to bottom, #919191 20%, #858585); }

radio:indeterminate, .radio:indeterminate { -gtk-icon-source: image(-gtk-recolor(url("assets/dash-symbolic.svg")), -gtk-recolor(url("assets/dash-symbolic.symbolic.png"))); }

radio:indeterminate:disabled, .radio:indeterminate:disabled { background-image: none; background-color: #FFFFFF; }

row:selected radio, row:selected .radio { background-image: linear-gradient(to bottom, #ffffff, #e8e8e8 50%, #ffffff); border-color: #686869; border-style: solid; border-radius: 40px; border-width: 1px; box-shadow: 0 1px rgba(0, 0, 0, 0.05); }

row:selected radio:active, row:selected radio:checked, row:selected .radio:active, row:selected .radio:checked { background: linear-gradient(to bottom, #c7dcf0 0%, #94bee8 15%, #67a5e4 54%, #afe5ff 88%, #c2fbff 100%); box-shadow: inset 0 1px 1px 0px rgba(0, 0, 0, 0.2); -gtk-icon-source: image(-gtk-recolor(url("assets/bullet-symbolic.svg")), -gtk-recolor(url("assets/bullet-symbolic.symbolic.png"))); }

row:selected radio:active:disabled, row:selected radio:checked:disabled, row:selected .radio:active:disabled, row:selected .radio:checked:disabled { color: rgba(16, 16, 16, 0.7); background-image: linear-gradient(to bottom, #919191 20%, #858585); }

row:selected radio:indeterminate, row:selected .radio:indeterminate { -gtk-icon-source: image(-gtk-recolor(url("assets/dash-symbolic.svg")), -gtk-recolor(url("assets/dash-symbolic.symbolic.png"))); }

row:selected radio:indeterminate:disabled, row:selected .radio:indeterminate:disabled { background-image: none; background-color: #FFFFFF; }

menuitem check, .menuitem check, menuitem.button.flat check, .menuitem.button.flat check, modelbutton.flat check, menuitem.button.flat check { background-image: linear-gradient(to bottom, #ffffff, #e8e8e8 50%, #ffffff); border-color: #686869; border-style: solid; border-radius: 2px; border-width: 1px; box-shadow: 0 1px rgba(0, 0, 0, 0.05); }

menuitem check:active, menuitem check:checked, .menuitem check:active, .menuitem check:checked, menuitem.button.flat check:active, menuitem.button.flat check:checked, .menuitem.button.flat check:active, .menuitem.button.flat check:checked, modelbutton.flat check:active, modelbutton.flat check:checked, menuitem.button.flat check:active, menuitem.button.flat check:checked { background: linear-gradient(to bottom, #c7dcf0 0%, #94bee8 15%, #67a5e4 54%, #afe5ff 88%, #c2fbff 100%); box-shadow: inset 0 1px 1px 0px rgba(0, 0, 0, 0.2); -gtk-icon-source: image(-gtk-recolor(url("assets/check-symbolic.svg"))); }

menuitem check:active:disabled, menuitem check:checked:disabled, .menuitem check:active:disabled, .menuitem check:checked:disabled, menuitem.button.flat check:active:disabled, menuitem.button.flat check:checked:disabled, .menuitem.button.flat check:active:disabled, .menuitem.button.flat check:checked:disabled, modelbutton.flat check:active:disabled, modelbutton.flat check:checked:disabled, menuitem.button.flat check:active:disabled, menuitem.button.flat check:checked:disabled { color: rgba(16, 16, 16, 0.7); background-image: linear-gradient(to bottom, #919191 20%, #858585); }

menuitem check:indeterminate, .menuitem check:indeterminate, menuitem.button.flat check:indeterminate, .menuitem.button.flat check:indeterminate, modelbutton.flat check:indeterminate, menuitem.button.flat check:indeterminate { -gtk-icon-source: image(-gtk-recolor(url("assets/dash-symbolic.svg"))); }

menuitem check:indeterminate:disabled, .menuitem check:indeterminate:disabled, menuitem.button.flat check:indeterminate:disabled, .menuitem.button.flat check:indeterminate:disabled, modelbutton.flat check:indeterminate:disabled, menuitem.button.flat check:indeterminate:disabled { background-image: none; background-color: #FFFFFF; }

menuitem check:hover, .menuitem check:hover, menuitem.button.flat check:hover, .menuitem.button.flat check:hover, modelbutton.flat check:hover, menuitem.button.flat check:hover { background-image: linear-gradient(to bottom, #ffffff, #e8e8e8 50%, #ffffff); border-color: #686869; border-style: solid; border-radius: 2px; border-width: 1px; box-shadow: 0 1px rgba(0, 0, 0, 0.05); }

menuitem check:hover:active, menuitem check:hover:checked, .menuitem check:hover:active, .menuitem check:hover:checked, menuitem.button.flat check:hover:active, menuitem.button.flat check:hover:checked, .menuitem.button.flat check:hover:active, .menuitem.button.flat check:hover:checked, modelbutton.flat check:hover:active, modelbutton.flat check:hover:checked, menuitem.button.flat check:hover:active, menuitem.button.flat check:hover:checked { background: linear-gradient(to bottom, #c7dcf0 0%, #94bee8 15%, #67a5e4 54%, #afe5ff 88%, #c2fbff 100%); box-shadow: inset 0 1px 1px 0px rgba(0, 0, 0, 0.2); -gtk-icon-source: image(-gtk-recolor(url("assets/check-symbolic.svg"))); }

menuitem check:hover:active:disabled, menuitem check:hover:checked:disabled, .menuitem check:hover:active:disabled, .menuitem check:hover:checked:disabled, menuitem.button.flat check:hover:active:disabled, menuitem.button.flat check:hover:checked:disabled, .menuitem.button.flat check:hover:active:disabled, .menuitem.button.flat check:hover:checked:disabled, modelbutton.flat check:hover:active:disabled, modelbutton.flat check:hover:checked:disabled, menuitem.button.flat check:hover:active:disabled, menuitem.button.flat check:hover:checked:disabled { color: rgba(16, 16, 16, 0.7); background-image: linear-gradient(to bottom, #919191 20%, #858585); }

menuitem check:hover:indeterminate, .menuitem check:hover:indeterminate, menuitem.button.flat check:hover:indeterminate, .menuitem.button.flat check:hover:indeterminate, modelbutton.flat check:hover:indeterminate, menuitem.button.flat check:hover:indeterminate { -gtk-icon-source: image(-gtk-recolor(url("assets/dash-symbolic.svg"))); }

menuitem check:hover:indeterminate:disabled, .menuitem check:hover:indeterminate:disabled, menuitem.button.flat check:hover:indeterminate:disabled, .menuitem.button.flat check:hover:indeterminate:disabled, modelbutton.flat check:hover:indeterminate:disabled, menuitem.button.flat check:hover:indeterminate:disabled { background-image: none; background-color: #FFFFFF; }

menuitem radio, .menuitem radio, menuitem.button.flat radio, .menuitem.button.flat radio, modelbutton.flat radio, menuitem.button.flat radio { background-image: linear-gradient(to bottom, #ffffff, #e8e8e8 50%, #ffffff); border-color: #686869; border-style: solid; border-radius: 40px; border-width: 1px; box-shadow: 0 1px rgba(0, 0, 0, 0.05); }

menuitem radio:active, menuitem radio:checked, .menuitem radio:active, .menuitem radio:checked, menuitem.button.flat radio:active, menuitem.button.flat radio:checked, .menuitem.button.flat radio:active, .menuitem.button.flat radio:checked, modelbutton.flat radio:active, modelbutton.flat radio:checked, menuitem.button.flat radio:active, menuitem.button.flat radio:checked { background: linear-gradient(to bottom, #c7dcf0 0%, #94bee8 15%, #67a5e4 54%, #afe5ff 88%, #c2fbff 100%); box-shadow: inset 0 1px 1px 0px rgba(0, 0, 0, 0.2); -gtk-icon-source: image(-gtk-recolor(url("assets/bullet-symbolic.svg")), -gtk-recolor(url("assets/bullet-symbolic.symbolic.png"))); }

menuitem radio:active:disabled, menuitem radio:checked:disabled, .menuitem radio:active:disabled, .menuitem radio:checked:disabled, menuitem.button.flat radio:active:disabled, menuitem.button.flat radio:checked:disabled, .menuitem.button.flat radio:active:disabled, .menuitem.button.flat radio:checked:disabled, modelbutton.flat radio:active:disabled, modelbutton.flat radio:checked:disabled, menuitem.button.flat radio:active:disabled, menuitem.button.flat radio:checked:disabled { color: rgba(16, 16, 16, 0.7); background-image: linear-gradient(to bottom, #919191 20%, #858585); }

menuitem radio:indeterminate, .menuitem radio:indeterminate, menuitem.button.flat radio:indeterminate, .menuitem.button.flat radio:indeterminate, modelbutton.flat radio:indeterminate, menuitem.button.flat radio:indeterminate { -gtk-icon-source: image(-gtk-recolor(url("assets/dash-symbolic.svg")), -gtk-recolor(url("assets/dash-symbolic.symbolic.png"))); }

menuitem radio:indeterminate:disabled, .menuitem radio:indeterminate:disabled, menuitem.button.flat radio:indeterminate:disabled, .menuitem.button.flat radio:indeterminate:disabled, modelbutton.flat radio:indeterminate:disabled, menuitem.button.flat radio:indeterminate:disabled { background-image: none; background-color: #FFFFFF; }

menuitem radio:hover, .menuitem radio:hover, menuitem.button.flat radio:hover, .menuitem.button.flat radio:hover, modelbutton.flat radio:hover, menuitem.button.flat radio:hover { background-image: linear-gradient(to bottom, #ffffff, #e8e8e8 50%, #ffffff); border-color: #686869; border-style: solid; border-radius: 40px; border-width: 1px; box-shadow: 0 1px rgba(0, 0, 0, 0.05); }

menuitem radio:hover:active, menuitem radio:hover:checked, .menuitem radio:hover:active, .menuitem radio:hover:checked, menuitem.button.flat radio:hover:active, menuitem.button.flat radio:hover:checked, .menuitem.button.flat radio:hover:active, .menuitem.button.flat radio:hover:checked, modelbutton.flat radio:hover:active, modelbutton.flat radio:hover:checked, menuitem.button.flat radio:hover:active, menuitem.button.flat radio:hover:checked { background: linear-gradient(to bottom, #c7dcf0 0%, #94bee8 15%, #67a5e4 54%, #afe5ff 88%, #c2fbff 100%); box-shadow: inset 0 1px 1px 0px rgba(0, 0, 0, 0.2); -gtk-icon-source: image(-gtk-recolor(url("assets/bullet-symbolic.svg")), -gtk-recolor(url("assets/bullet-symbolic.symbolic.png"))); }

menuitem radio:hover:active:disabled, menuitem radio:hover:checked:disabled, .menuitem radio:hover:active:disabled, .menuitem radio:hover:checked:disabled, menuitem.button.flat radio:hover:active:disabled, menuitem.button.flat radio:hover:checked:disabled, .menuitem.button.flat radio:hover:active:disabled, .menuitem.button.flat radio:hover:checked:disabled, modelbutton.flat radio:hover:active:disabled, modelbutton.flat radio:hover:checked:disabled, menuitem.button.flat radio:hover:active:disabled, menuitem.button.flat radio:hover:checked:disabled { color: rgba(16, 16, 16, 0.7); background-image: linear-gradient(to bottom, #919191 20%, #858585); }

menuitem radio:hover:indeterminate, .menuitem radio:hover:indeterminate, menuitem.button.flat radio:hover:indeterminate, .menuitem.button.flat radio:hover:indeterminate, modelbutton.flat radio:hover:indeterminate, menuitem.button.flat radio:hover:indeterminate { -gtk-icon-source: image(-gtk-recolor(url("assets/dash-symbolic.svg")), -gtk-recolor(url("assets/dash-symbolic.symbolic.png"))); }

menuitem radio:hover:indeterminate:disabled, .menuitem radio:hover:indeterminate:disabled, menuitem.button.flat radio:hover:indeterminate:disabled, .menuitem.button.flat radio:hover:indeterminate:disabled, modelbutton.flat radio:hover:indeterminate:disabled, menuitem.button.flat radio:hover:indeterminate:disabled { background-image: none; background-color: #FFFFFF; }

.content-view.view { background-color: #FFFFFF; }

.content-view.view:hover { background-color: rgba(66, 133, 199, 0.6); }

.content-view.view:selected, .content-view.view:active { background-color: #4285c7; }

.content-view.view:disabled { background-color: #e6e6e6; }

dropdown arrow, combobox arrow { -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); min-height: 16px; min-width: 16px; }

entry { padding: 5px; border-width: 1px; border-style: solid; border-color: #686869; border-radius: 20px; color: #1a1a1a; caret-color: currentColor; background-color: #FFFFFF; }

entry:active, entry:focus { border-color: #4285c7; box-shadow: inset 0 0 0 1px #4285c7; border-color: #4285c7; }

entry:selected, entry:selected:focus, entry selection, entry selection:focus { color: #FFFFFF; background-color: #4285c7; box-shadow: inset 0 0 0 1px #4285c7; border-color: #4285c7; }

entry:disabled { color: #7c7c7c; border-color: #686869; background-color: #f1f1f1; }

entry:backdrop { color: #101010; background-color: #FFFFFF; }

entry > image.left { padding-right: 5px; }

entry > image.right { padding-left: 5px; }

entry progress { margin: -4px -4px; border-width: 0 0 2px; border-radius: 0; border-style: solid; border-color: #4285c7; background-color: transparent; }

entry.flat, entry.flat:focus { min-height: 0; padding: 3px; border-radius: 0; background-image: none; border-color: transparent; }

entry.search { border-radius: 40px; }

expander { min-width: 16px; min-height: 16px; -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); }

expander:dir(rtl) { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl"); }

expander:disabled { color: #7c7c7c; }

expander:checked { -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }

expander-widget > box > title { outline: 0 solid transparent; outline-offset: 4px; }

expander-widget:focus:focus-visible > box > title { outline-color: rgba(66, 133, 199, 0.5); outline-width: 2px; outline-offset: -2px; }

expander-widget > box > title { border-radius: 20px; }

expander-widget > box > title:hover > expander { color: #5d5d5d; }

list { color: #101010; background-color: #FFFFFF; }

list > row { padding: 2px; }

list > row:hover { background-color: #d2d2d2; }

list > row:active { background-color: #bdbdbd; }

list > row:backdrop { color: #101010; }

list > row:selected { border: none; color: #FFFFFF; background-color: #4285c7; }

list > row:selected switch:checked { background-color: #FFFFFF; border-color: #FFFFFF; }

list > row:selected switch:checked slider { color: #4285c7; }

list > row:selected scale highlight, list > row:selected scale slider { background-color: #FFFFFF; }

list > row:selected:hover { background-color: #498ccd; }

list > row:selected:active { background-color: #3d78b2; }

list > row:selected:disabled { color: rgba(255, 255, 255, 0.7); background-color: #4285c7; }

list > row:selected:backdrop { color: #FFFFFF; background-color: #4285c7; }

list separator, list separator:backdrop { background: none; }

.frame, frame > border { border-width: 1px; border-style: solid; border-color: #686869; border-radius: 0; box-shadow: none; background: none; }

frame.flat > border, frame > border.flat, .frame.flat { border-style: none; }

frame, .frame { border: 1px solid #686869; }

frame { border-radius: 4px; }

frame > label { margin: 4px; }

popover.menu { margin: 0px; padding: 0; border-radius: 3px; border-style: solid; border-color: #686869; color: #101010; background-color: #e8e8e8; }

popover.menu box.inline-buttons { padding: 4px; }

.csd popover.menu { padding: 0px 0px; border-radius: 3px; border-style: solid; border-width: 1px; border-color: #b5b5b5; }

popover.menu accelerator:dir(ltr) { margin-left: 12px; }

popover.menu accelerator:dir(rtl) { margin-right: 12px; }

popover.menu > arrow { padding: 4px; border-color: transparent; background-color: #e8e8e8; min-width: 16px; min-height: 16px; }

popover.menu > arrow.top { margin-top: -6px; border-bottom: 1px solid #d1d1d1; -gtk-icon-source: -gtk-icontheme("pan-up-symbolic"); }

popover.menu > arrow.bottom { margin-bottom: -6px; border-top: 1px solid #d1d1d1; -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }

menubar { background-image: linear-gradient(to bottom, #bab9b9, #adacac); padding: 0px; }

menubar > item { min-height: 16px; padding: 4px 8px; }

menubar > item:selected { color: #FFFFFF; background-color: #4285c7; background-image: linear-gradient(to bottom, #007ed5, #5b78f6 8%, #2f52ee); }

menubar > item:disabled { color: #7c7c7c; box-shadow: none; }

menubar > item popover.menu.background > contents { min-width: 80px; padding: 4px; }

menubar > item popover.menu popover.menu { padding: 4px; }

menubar > item popover.menu.background popover.menu.background > contents { margin: 0; border-radius: 3px; }

modelbutton { min-height: 27px; min-width: 40px; padding: 0 4px; padding-right: 6px; border-radius: 3px; }

modelbutton:selected { color: #FFFFFF; background-color: #4285c7; background-image: linear-gradient(to bottom, #007ed5, #5b78f6 8%, #2f52ee); }

modelbutton:selected:active { background-color: #c4c4c4; }

modelbutton.flat arrow { background: none; min-width: 16px; min-height: 16px; opacity: 0.3; color: #000; }

modelbutton.flat arrow:hover { background: none; }

modelbutton.flat arrow.left { -gtk-icon-source: image(-gtk-recolor(url("assets/left-arrow.svg"))); }

modelbutton.flat arrow.right { -gtk-icon-source: image(-gtk-recolor(url("assets/right-arrow.svg"))); }

notebook { padding: 0; }

notebook.frame { margin: -1px; border-width: 1px; border-style: solid; border-color: #686869; }

notebook.frame > header { margin: -1px; }

notebook.frame > header.top { margin-bottom: 1px; }

notebook.frame > header.bottom { margin-top: 0; }

notebook.frame > header.left { margin-right: 1px; }

notebook.frame > header.right { margin-left: 0; }

notebook.frame > header.top, notebook.frame > header.bottom { padding-left: 0; padding-right: 0; }

notebook.frame > header.left, notebook.frame > header.right { padding-top: 0; padding-bottom: 0; }

notebook > stack:not(:only-child) { background-color: #e0e0e0; }

notebook tab { padding: 6px 20px; border-width: 1px; border-style: solid; border-radius: 0; border-color: #686869; color: #101010; background-color: #e8e8e8; background-image: linear-gradient(to bottom, #f9f9f9, #f7f7f7 15%, #e9e9e9 52%, #ffffff); }

notebook tab:checked { border-color: #686869; background-color: #e0e0e0; background-image: none; background-image: linear-gradient(to bottom, #cce7ff, #a4d0fd 34%, #7bbbfb 36%, #83c1ff 50%, #d7ffff); }

notebook tab:checked:backdrop { border-color: #686869; background-color: #FFFFFF; background-color: #e8e8e8; background-image: linear-gradient(to bottom, #cce7ff, #a4d0fd 34%, #7bbbfb 36%, #83c1ff 50%, #d7ffff); }

notebook tab:backdrop { background-color: #e8e8e8; background-color: #e8e8e8; background-image: linear-gradient(to bottom, #f9f9f9, #f7f7f7 15%, #e9e9e9 52%, #ffffff); }

notebook > header { padding-top: 2px; background-color: #e8e8e8; }

notebook > header:backdrop { background-color: #e8e8e8; }

notebook > header.top { box-shadow: 0 1px #686869; }

notebook > header.top > tabs > tab { border-bottom: none; }

notebook > header.top > tabs > tab:checked { border-top-left-radius: 0px; border-top-right-radius: 0px; }

notebook > header.bottom { padding-top: 0; box-shadow: 0 -1px #686869; }

notebook > header.bottom > tabs > tab { border-top: none; }

notebook > header.bottom > tabs > tab:checked { border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; }

notebook > header.right { box-shadow: -1px 0 #686869; }

notebook > header.right > tabs > tab { border-left: none; }

notebook > header.right > tabs > tab:checked { border-top-right-radius: 0px; border-bottom-right-radius: 0px; }

notebook > header.left { box-shadow: 1px 0 #686869; }

notebook > header.left > tabs > tab { border-right: none; }

notebook > header.left > tabs > tab:checked { border-top-left-radius: 0px; border-bottom-left-radius: 0px; }

notebook > header.top > tabs > arrow.up, notebook > header.bottom > tabs > arrow.up { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); }

notebook > header.top > tabs > arrow.up:last-child, notebook > header.bottom > tabs > arrow.up:last-child { margin-left: 2px; }

notebook > header.top > tabs > arrow.down, notebook > header.bottom > tabs > arrow.down { -gtk-icon-source: -gtk-icontheme("pan-start-symbolic"); }

notebook > header.top > tabs > arrow.down:first-child, notebook > header.bottom > tabs > arrow.down:first-child { margin-right: 2px; }

notebook > header.left > tabs > arrow.up, notebook > header.right > tabs > arrow.up { -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }

notebook > header.left > tabs > arrow.up:last-child, notebook > header.right > tabs > arrow.up:last-child { margin-top: 2px; }

notebook > header.left > tabs > arrow.down, notebook > header.right > tabs > arrow.down { -gtk-icon-source: -gtk-icontheme("pan-up-symbolic"); }

notebook > header.left > tabs > arrow.down:first-child, notebook > header.right > tabs > arrow.down:first-child { margin-bottom: 2px; }

notebook > header > tabs > arrow { color: #101010; }

notebook > header > tabs > arrow:hover { color: #131313; }

notebook > header > tabs > arrow:active { color: #0d0d0d; }

notebook > header > tabs > arrow:disabled { color: #8b8b8b; }

paned > separator { min-width: 1px; min-height: 1px; border: none; color: transparent; background-image: image(#686869); }

paned > separator:selected { background-image: image(#686869); }

paned > separator:backdrop { background-color: #d1d1d1; }

paned .sidebar.left, paned .sidebar.right, paned .sidebar.left:dir(rtl), paned .sidebar:dir(rtl), paned .sidebar:dir(ltr), paned .sidebar { border-style: none; }

/* Core color for blue widgets in TraditionalOK. #a4c2e8*/
progressbar { padding: 0; border: none; color: #888888; background-color: transparent; }

progressbar > progress { border-style: solid; border-width: 1px; border-color: #686869; border-radius: 3px; background-color: #4285c7; }

progressbar > progress:backdrop { background-color: #4285c7; }

progressbar > trough { border-style: solid; border-width: 1px; border-color: #686869; border-radius: 3px; background-color: rgba(0, 0, 0, 0.1); }

progressbar > trough:backdrop { background-color: gainsboro; }

progressbar.horizontal trough, progressbar.horizontal progress { min-height: 16px; }

progressbar.horizontal trough { background-image: linear-gradient(to bottom, #e7e7e7, #e8e8e8 8%, #dbdbdb 33%, #f8f8f8 75%, #f8f8f8); }

progressbar.horizontal progress { background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.05) 30%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.05) 80%, transparent), linear-gradient(to bottom, #375abb 0%, #8bb4e3 21%, #4b8edc 43%, #4597f6 64%, #6abeff 86%, #63abf2 100%); background-size: 20px 16px, auto; }

progressbar.vertical trough, progressbar.vertical progress { min-width: 16px; }

progressbar.vertical trough { background-image: linear-gradient(to right, #e7e7e7, #e8e8e8 8%, #dbdbdb 33%, #f8f8f8 75%, #f8f8f8); }

progressbar.vertical progress { background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.05) 30%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.05) 80%, transparent), linear-gradient(to right, #375abb 0%, #8bb4e3 21%, #4b8edc 43%, #4597f6 64%, #6abeff 86%, #63abf2 100%); background-size: 20px 16px, auto; }

treeview.view.progressbar, treeview.view.progressbar:disabled { color: #FFFFFF; border-radius: 0; background-color: #4285c7; }

treeview.view.progressbar:focus, treeview.view.progressbar:selected:focus, treeview.view.progressbar:focus:selected, treeview.view.progressbar:focus:selected:focus, treeview.view.progressbar:disabled:selected { border-radius: 0; color: #4285c7; background-color: #FFFFFF; }

treeview.view.trough:selected, treeview.view.trough:selected:focus { color: #FFFFFF; background-color: rgba(0, 0, 0, 0.1); border-radius: 0; border: none; }

infobar treeview.view trough, row:selected treeview.view trough { background-color: rgba(0, 0, 0, 0.1); }

scale { min-height: 10px; min-width: 10px; padding: 12px; }

scale fill, scale trough { border: none; border-radius: 4px; background-color: rgba(0, 0, 0, 0.2); outline-offset: 2px; }

scale fill:disabled, scale trough:disabled { background-color: rgba(0, 0, 0, 0.15); }

scale fill:disabled:backdrop, scale trough:disabled:backdrop { background-color: rgba(0, 0, 0, 0.08); }

scale fill:backdrop, scale trough:backdrop { background-color: rgba(0, 0, 0, 0.1); }

scale highlight { border: none; border-radius: 4px; background-color: #4285c7; }

scale highlight:disabled { background-color: #dddddd; background-image: none; }

scale highlight:disabled:backdrop { background-color: #e4e4e4; background-image: none; }

scale highlight:backdrop { background-color: #4285c7; }

scale.horizontal indicator { min-height: 6px; min-width: 1px; }

scale.horizontal.fine-tune indicator { min-height: 3px; }

scale.vertical indicator { min-height: 1px; min-width: 6px; }

scale.vertical.fine-tune indicator { min-width: 3px; }

scale.fine-tune.horizontal { padding-top: 10px; padding-bottom: 10px; min-height: 14px; }

scale.fine-tune.vertical { padding-left: 10px; padding-right: 10px; min-width: 14px; }

scale.fine-tune slider { margin: -6px; }

scale.fine-tune fill, scale.fine-tune trough, scale.fine-tune highlight { border-radius: 0; }

scale.fine-tune > marks { min-width: 12px; }

scale.fine-tune > marks.top { margin: -5px; }

scale.fine-tune > marks.bottom { margin: -5px; }

scale.fine-tune > marks.top { margin: -5px; }

scale.fine-tune > marks.bottom { margin: -5px; }

scale.horizontal fill, scale.horizontal trough { background-image: linear-gradient(to bottom, #e7e7e7, #e8e8e8 8%, #dbdbdb 33%, #f8f8f8 75%, #f8f8f8); border-style: solid; border-width: 1px; border-color: #686869; }

scale.horizontal highlight { background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.05) 30%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.05) 80%, transparent), linear-gradient(to bottom, #375abb 0%, #8bb4e3 21%, #4b8edc 43%, #4597f6 64%, #6abeff 86%, #63abf2 100%); background-size: 20px 16px, auto; }

scale.horizontal highlight:disabled { background-image: none; }

scale.vertical fill, scale.vertical trough { background-image: linear-gradient(to right, #e7e7e7, #e8e8e8 8%, #dbdbdb 33%, #f8f8f8 75%, #f8f8f8); border-style: solid; border-width: 1px; border-color: #686869; }

scale.vertical highlight { background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.05) 30%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.05) 80%, transparent), linear-gradient(to right, #375abb 0%, #8bb4e3 21%, #4b8edc 43%, #4597f6 64%, #6abeff 86%, #63abf2 100%); background-size: 20px 16px, auto; }

scale.vertical highlight:disabled { background-image: none; }

scale slider { min-height: 12px; min-width: 12px; margin: -5px; border: none; border-radius: 100%; border-style: solid; border-width: 1px; border-color: #686869; color: #FFFFFF; background-color: #4285c7; background-image: linear-gradient(to bottom, #ffffff, #fdfcfd 10%, #efeeee 34%, #e4e4e4 36%, #fdfcfd 90%, #ffffff); }

scale slider:hover { color: #FFFFFF; background-color: #4285c7; background-image: linear-gradient(to bottom, #cae4fe, #cae4fe 10%, #a5cff9 34%, #84befa 36%, #dbffff); }

scale slider:disabled { background-color: #dddddd; background-color: #c8c8c8; -gtk-icon-shadow: none; }

scale slider:disabled:backdrop { background-color: #e4e4e4; -gtk-icon-shadow: none; }

scale slider:backdrop { color: #FFFFFF; background-color: #4285c7; }

scale.horizontal slider { min-width: 25px; border-radius: 4px; }

scale.vertical slider { min-height: 25px; border-radius: 4px; }

scale value { color: alpha(currentColor, 0.55); }

scale marks { color: alpha(currentColor, 0.55); }

scrollbar { border: none; background-color: #d1d1d1; }

scrollbar trough { border: none; border-radius: 0; }

scrollbar:backdrop { background-color: #d1d1d1; }

scrollbar slider { min-width: 8px; min-height: 8px; margin: 0; border: none; border-radius: 0px; background-clip: padding-box; background-color: #8b8b8b; }

scrollbar slider:hover { background-color: #8b8b8b; }

scrollbar slider:hover:active { background-color: gray; }

scrollbar slider:backdrop { background-color: gray; }

scrollbar slider:disabled { background-color: transparent; }

scrollbar.fine-tune slider { min-width: 6px; min-height: 6px; border-radius: 0px; }

scrollbar.fine-tune.horizontal slider { margin-top: 1px; margin-bottom: 1px; }

scrollbar.fine-tune.vertical slider { margin-left: 1px; margin-right: 1px; }

scrollbar.overlay-indicator:not(.dragging):not(.hovering) { border: none; opacity: 0.7; margin: 0; background-color: transparent; }

scrollbar.overlay-indicator:not(.dragging):not(.hovering) slider { margin: 0; min-width: 1px; min-height: 1px; background-color: #8b8b8b; border: none; }

scrollbar.overlay-indicator.horizontal:not(.dragging):not(.hovering) slider { margin: 0; }

scrollbar.overlay-indicator.vertical:not(.dragging):not(.hovering) slider { margin: 0; }

scrollbar.overlay-indicator.dragging, scrollbar.overlay-indicator.hovering { opacity: 1; }

scrollbar.horizontal slider { min-width: 40px; }

scrollbar.horizontal button.down { -gtk-icon-source: -gtk-icontheme("pan-right-symbolic"); }

scrollbar.horizontal button.up { -gtk-icon-source: -gtk-icontheme("pan-left-symbolic"); }

scrollbar.vertical slider { min-height: 40px; }

scrollbar.vertical button.down { -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }

scrollbar.vertical button.up { -gtk-icon-source: -gtk-icontheme("pan-up-symbolic"); }

treeview ~ scrollbar.vertical { border-top: 1px solid #686869; margin-top: -1px; }

separator { -gtk-icon-source: none; min-width: 1px; min-height: 1px; background-color: #686869; }

separator:not(.sidebar) { margin-top: 4px; margin-bottom: 4px; }

button separator { margin: 4px 1px; }

headerbar separator { margin-top: 4px; margin-bottom: 4px; background-color: #5591cd; background-image: none; }

headerbar button separator { border-color: #5591cd; background-image: none; }

combobox separator { border: none; }

popover.background separator { background-color: #d2d2d2; margin: 3px; }

spinbutton:not(.vertical) { border: 1px solid #686869; border-radius: 20px; background-color: #FFFFFF; }

spinbutton:not(.vertical):disabled { border-color: #d1d1d1; color: #7c7c7c; background-color: #dddddd; }

spinbutton:not(.vertical):disabled:backdrop { border-color: #d1d1d1; color: #b2b2b2; background-color: #e4e4e4; }

spinbutton:not(.vertical):backdrop { background-color: #FFFFFF; border-color: #d1d1d1; }

spinbutton:not(.vertical):focus { border-color: #4285c7; }

spinbutton:not(.vertical) > text { min-width: 28px; margin: 0; background: none; background-color: transparent; border: none; border-radius: 0; box-shadow: none; padding: 6px; }

spinbutton:not(.vertical) > text { padding-left: 12px; }

spinbutton:not(.vertical) entry { padding: 7px 15px; min-width: 40px; border: none; background: none; border-radius: 20px 0 0 20px; }

spinbutton:not(.vertical) entry:focus { box-shadow: none; }

spinbutton:not(.vertical) entry:disabled { background: none; }

spinbutton:not(.vertical) button { border: none; border-radius: 0; background: none; box-shadow: -1px 0 #686869; }

spinbutton:not(.vertical) button:disabled, spinbutton:not(.vertical) button:backdrop { box-shadow: -1px 0 #d1d1d1; background: none; }

spinbutton:not(.vertical) button.up { border-radius: 0 20px 20px 0; }

spinbutton.vertical > text { padding: 7px 7px; border-radius: 0; border: 1px solid #686869; background-color: #FFFFFF; }

spinbutton.vertical > text:focus { box-shadow: none; }

spinbutton.vertical > text:disabled { background: none; }

spinbutton.vertical button.up { border-bottom-left-radius: 0; border-bottom-right-radius: 0; border-bottom-width: 0; }

spinbutton.vertical button.down { border-top-width: 0; border-top-left-radius: 0; border-top-right-radius: 0; }

@keyframes spin { to { -gtk-icon-transform: rotate(1turn); } }

spinner { background: none; opacity: 0; -gtk-icon-source: -gtk-icontheme("process-working-symbolic"); }

spinner:checked { opacity: 1; animation: spin 1s linear infinite; }

spinner:checked:disabled { opacity: 0.5; }

switch { font-size: 0; color: transparent; outline-offset: -4px; margin: 4px; border: 1px solid #686869; border-radius: 16px; background-color: #686869; }

switch:checked { border-color: #4285c7; background-color: #4285c7; }

switch:disabled { border-color: #d2d2d2; background-color: #d2d2d2; }

switch > slider { min-width: 14px; min-height: 14px; margin: 3px; border: none; border-radius: 16px; color: #101010; background-color: #FFFFFF; }

switch:disabled > slider { background-color: #dddddd; }

colorswatch.top { border-top-left-radius: 2.5px; border-top-right-radius: 2.5px; }

colorswatch.top overlay { border-top-left-radius: 2px; border-top-right-radius: 2px; }

colorswatch.bottom { border-bottom-left-radius: 2.5px; border-bottom-right-radius: 2.5px; }

colorswatch.bottom overlay { border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; }

colorswatch.left, colorswatch:first-child:not(.top) { border-top-left-radius: 2.5px; border-bottom-left-radius: 2.5px; }

colorswatch.left overlay, colorswatch:first-child:not(.top) overlay { border-top-left-radius: 2px; border-bottom-left-radius: 2px; }

colorswatch.right, colorswatch:last-child:not(.bottom) { border-top-right-radius: 2.5px; border-bottom-right-radius: 2.5px; }

colorswatch.right overlay, colorswatch:last-child:not(.bottom) overlay { border-top-right-radius: 2px; border-bottom-right-radius: 2px; }

colorswatch.dark overlay { color: rgba(255, 255, 255, 0.7); }

colorswatch.dark overlay:hover { border-color: rgba(0, 0, 0, 0.5); }

colorswatch.light overlay { color: rgba(255, 255, 255, 0.7); }

colorswatch.light overlay:hover { border-color: rgba(0, 0, 0, 0.3); }

colorswatch overlay { border: 1px solid rgba(0, 0, 0, 0.15); }

colorswatch overlay:hover { background-color: rgba(255, 255, 255, 0.2); }

colorswatch:disabled { opacity: 0.5; }

colorswatch:disabled overlay { border-color: rgba(0, 0, 0, 0.6); box-shadow: none; }

button.color { padding: 0; }

button.color colorswatch:first-child:last-child, button.color colorswatch:first-child:last-child overlay { margin: 4px; border-radius: 0; }

colorchooser .popover.osd { border-radius: 0; }

colorchooser #add-color-button { background-clip: padding-box; border-color: rgba(0, 0, 0, 0.1); background-color: gainsboro; color: #101010; }

colorchooser #add-color-button:hover { border-color: rgba(0, 0, 0, 0.3); background-color: #d1d1d1; color: #101010; }

headerbar { padding: 4px 8px; min-height: 30px; color: #101010; background-color: #4285c7; border-bottom: 1px solid #686869; background-image: linear-gradient(to bottom, #d4d4d4, #bcbbbb); }

headerbar:backdrop { color: #101010; border-bottom: 1px solid #686869; background-color: #e8e8e8; background-image: linear-gradient(to bottom, #d4d4d4, #bcbbbb); }

.tiled headerbar, .tiled headerbar:backdrop, .maximized headerbar, .maximized headerbar:backdrop { border-radius: 0; }

.solid-csd headerbar:backdrop:dir(rtl), .solid-csd headerbar:backdrop:dir(ltr), .solid-csd headerbar:dir(rtl), .solid-csd headerbar:dir(ltr) { margin-left: -1px; margin-right: -1px; margin-top: -1px; border-radius: 0; box-shadow: none; }

headerbar .title { padding-left: 12px; padding-right: 12px; font-weight: bold; }

headerbar .subtitle { font-size: smaller; padding-left: 12px; padding-right: 12px; color: alpha(currentColor, 0.7); }

headerbar button { border-color: #686869; border-radius: 20px; }

headerbar menubutton > button { margin-left: 4px; margin-right: 4px; border-radius: 6px; }

headerbar switch:checked { border-color: #5899d8; background-color: #5899d8; }

headerbar entry { padding: 4px 8px; }

headerbar.titlebar, .titlebar headerbar { border-radius: 4px 4px 0px 0px; }

button.close, button.maximize, button.minimize { padding: 0px; margin-left: 3px; margin-right: 3px; min-height: 12px; min-width: 12px; border: none; color: transparent; background-color: transparent; background-position: center center; -gtk-icon-shadow: none; }

button.close { border-radius: 30px; min-width: 5px; padding: 0px; background-image: linear-gradient(to bottom, rgba(186, 44, 34, 0), rgba(186, 44, 34, 0.7) 20%, rgba(186, 44, 34, 0.3) 70%, rgba(186, 44, 34, 0)), linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0)), linear-gradient(to bottom, #a83930, #ba2c22 9%, #ee8d83); border-color: #b72b22; color: transparent; }

button.close:hover { color: #b72b22; }

button.close:backdrop { background-image: linear-gradient(to bottom, rgba(178, 178, 179, 0), rgba(146, 146, 146, 0.7) 20%, rgba(178, 178, 179, 0.3) 70%, rgba(178, 178, 179, 0)), linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0)), linear-gradient(to bottom, #929299, #c4c4c5 20%, #e7e7e8 37%, #fbfcfc 92%, #f9f9f9); border-color: #3a3a3a; }

button.close:backdrop:hover { border-color: #b72b22; box-shadow: inset 0 1px #b72b21, 0 1px rgba(255, 255, 255, 0.5), -1px 0 rgba(255, 255, 255, 0.5), 1px 0 rgba(255, 255, 255, 0.5); background-image: linear-gradient(to bottom, rgba(186, 44, 34, 0), rgba(186, 44, 34, 0.7) 20%, rgba(186, 44, 34, 0.3) 70%, rgba(186, 44, 34, 0)), linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0)), linear-gradient(to bottom, #a83930, #ba2c22 9%, #ee8d83); }

button.minimize { background-image: linear-gradient(to bottom, rgba(179, 96, 36, 0), rgba(179, 96, 36, 0.7) 20%, rgba(179, 96, 36, 0.3) 70%, rgba(179, 96, 36, 0)), linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0)), linear-gradient(to bottom, #9a5028, #b36024 8%, #dfbd89); border-radius: 30px; min-width: 5px; padding: 0px; border-color: #994f28; color: transparent; }

button.minimize:hover { color: #984f27; }

button.minimize:backdrop { background-image: linear-gradient(to bottom, rgba(178, 178, 179, 0), rgba(146, 146, 146, 0.7) 20%, rgba(178, 178, 179, 0.3) 70%, rgba(178, 178, 179, 0)), linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0)), linear-gradient(to bottom, #929299, #c4c4c5 20%, #e7e7e8 37%, #fbfcfc 92%, #f9f9f9); border-color: #3a3a3a; }

button.minimize:backdrop:hover { color: #984f27; background-image: linear-gradient(to bottom, rgba(179, 96, 36, 0), rgba(179, 96, 36, 0.7) 20%, rgba(179, 96, 36, 0.3) 70%, rgba(179, 96, 36, 0)), linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0)), linear-gradient(to bottom, #9a5028, #b36024 8%, #dfbd89); }

button.maximize { border-radius: 30px; background-image: linear-gradient(to bottom, rgba(51, 88, 22, 0), rgba(51, 88, 22, 0.7) 20%, rgba(51, 88, 22, 0.3) 70%, rgba(51, 88, 22, 0)), linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0)), linear-gradient(to bottom, #335816, #4c7d22 8%, #a0c576); min-width: 5px; padding: 0px; border-color: #325716; color: transparent; }

button.maximize:hover { color: #325615; }

button.maximize:backdrop { background-image: linear-gradient(to bottom, rgba(178, 178, 179, 0), rgba(146, 146, 146, 0.7) 20%, rgba(178, 178, 179, 0.3) 70%, rgba(178, 178, 179, 0)), linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0)), linear-gradient(to bottom, #929299, #c4c4c5 20%, #e7e7e8 37%, #fbfcfc 92%, #f9f9f9); border-color: #3a3a3a; }

button.maximize:backdrop:hover { color: #325615; background-image: linear-gradient(to bottom, rgba(51, 88, 22, 0), rgba(51, 88, 22, 0.7) 20%, rgba(51, 88, 22, 0.3) 70%, rgba(51, 88, 22, 0)), linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0)), linear-gradient(to bottom, #335816, #4c7d22 8%, #a0c576); }

.toolbar, toolbar { border-spacing: 4px; padding: 4px; border: none; color: #101010; background-color: #e8e8e8; background-image: linear-gradient(to bottom, #adacac, #979597); box-shadow: inset 0 -1px rgba(104, 104, 105, 0.5); /* oldstyle toolbar buttons */ }

.toolbar:backdrop, toolbar:backdrop { color: #101010; background-color: #e8e8e8; }

.toolbar:disabled, toolbar:disabled { color: #7c7c7c; background-color: #dddddd; }

.toolbar button, .toolbar button.flat, toolbar button, toolbar button.flat { border-color: transparent; border-radius: 20px; color: #101010; background-color: transparent; background-image: none; }

.toolbar button:hover, .toolbar button.flat:hover, toolbar button:hover, toolbar button.flat:hover { border-color: #686869; color: #101010; background-color: #e8e8e8; background-image: linear-gradient(to bottom, #cae4fe, #cae4fe 10%, #a5cff9 34%, #84befa 36%, #dbffff); }

.toolbar button:active, .toolbar button:checked, .toolbar button.flat:active, .toolbar button.flat:checked, toolbar button:active, toolbar button:checked, toolbar button.flat:active, toolbar button.flat:checked { border-color: #4285c7; color: #FFFFFF; background-color: #4285c7; background-image: linear-gradient(to bottom, #bbc7e1, #a6c0de 10%, #91b5e3 34%, #72a3e3 36%, #dbffff); }

.toolbar button:disabled, .toolbar button.flat:disabled, toolbar button:disabled, toolbar button.flat:disabled { border-color: transparent; color: rgba(16, 16, 16, 0.8); background-color: transparent; }

.toolbar button:backdrop, .toolbar button.flat:backdrop, toolbar button:backdrop, toolbar button.flat:backdrop { border-color: transparent; background-color: transparent; color: #101010; }

.linked button { border-radius: 0; border-left-width: 0; }

.linked button:first-child { border-left-width: 1px; border-top-left-radius: 20px; border-bottom-left-radius: 20px; padding-left: 10px; }

.linked button:last-child { border-left-width: 0; border-top-left-radius: 0; border-bottom-left-radius: 0; border-top-right-radius: 20px; border-bottom-right-radius: 20px; padding-right: 10px; }

.linked button:only-child { border-width: 1px; border-radius: 20px; }

.linked entry { border-radius: 0; border-left-width: 0; }

.linked entry:first-child { border-left-width: 1px; border-top-left-radius: 20px; border-bottom-left-radius: 20px; padding-left: 10px; }

.linked entry:last-child { border-left-width: 0; border-top-left-radius: 0; border-bottom-left-radius: 0; border-top-right-radius: 20px; border-bottom-right-radius: 20px; padding-right: 10px; }

.linked entry:only-child { border-width: 1px; border-radius: 20px; }

.linked combobox box.linked button { border-radius: 0; border-left-width: 0; }

.linked combobox:first-child box.linked button { border-left-width: 1px; border-top-left-radius: 20px; border-bottom-left-radius: 20px; padding-left: 10px; }

.linked combobox:last-child box.linked button { border-left-width: 0; border-top-left-radius: 0; border-bottom-left-radius: 0; border-top-right-radius: 20px; border-bottom-right-radius: 20px; padding-right: 10px; }

.linked combobox:only-child box.linked button { border-width: 1px; border-radius: 20px; }

.linked spinbutton { border-radius: 0; border-left-width: 0; }

.linked spinbutton:first-child { border-left-width: 1px; border-top-left-radius: 20px; border-bottom-left-radius: 20px; padding-left: 10px; }

.linked spinbutton:last-child { border-left-width: 0; border-top-left-radius: 0; border-bottom-left-radius: 0; border-top-right-radius: 20px; border-bottom-right-radius: 20px; padding-right: 10px; }

.linked spinbutton:only-child { border-width: 1px; border-radius: 20px; }

.linked.vertical button { border-left-width: 1px; border-top-width: 0; border-radius: 0; }

.linked.vertical button:first-child { border-top-width: 1px; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }

.linked.vertical button:last-child { border-top-width: 0; border-top-left-radius: 0; border-top-right-radius: 0; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; }

.linked.vertical button:only-child { border-width: 1px; border-radius: 20px; }

.linked.vertical entry { border-left-width: 1px; border-top-width: 0; border-radius: 0; }

.linked.vertical entry:first-child { border-top-width: 1px; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }

.linked.vertical entry:last-child { border-top-width: 0; border-top-left-radius: 0; border-top-right-radius: 0; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; }

.linked.vertical entry:only-child { border-width: 1px; border-radius: 20px; }

.linked.vertical combobox box.linked button { border-left-width: 1px; border-top-width: 0; border-radius: 0; }

.linked.vertical combobox:first-child box.linked button { border-top-width: 1px; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }

.linked.vertical combobox:last-child box.linked button { border-top-width: 0; border-top-left-radius: 0; border-top-right-radius: 0; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; }

.linked.vertical combobox:only-child box.linked button { border-width: 1px; border-radius: 20px; }

.linked.vertical spinbutton { border-left-width: 1px; border-top-width: 0; border-radius: 0; }

.linked.vertical spinbutton:first-child { border-top-width: 1px; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }

.linked.vertical spinbutton:last-child { border-top-width: 0; border-top-left-radius: 0; border-top-right-radius: 0; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; }

.linked.vertical spinbutton:only-child { border-width: 1px; border-radius: 20px; }

.linked.vertical spinbutton button:first-child, .linked.vertical spinbutton button:last-child { border-radius: 0; }

tooltip { border-radius: 0px; box-shadow: none; }

tooltip.background { border-width: 1px; border-style: solid; border-color: #686869; background-color: #FFFFFF; }

tooltip.background label { padding: 1px; }

tooltip * { background-color: transparent; color: #000000; }

treeview.view:selected, treeview.view:selected:focus { border-radius: 0; color: #FFFFFF; background-color: #4285c7; }

treeview.view:selected:backdrop, treeview.view:selected:focus:backdrop { color: #FFFFFF; background-color: #4285c7; }

treeview.view:drop(active) { border-style: solid none; border-width: 1px; border-color: #4285c7; }

treeview.view.after:drop(active) { border-top-style: none; }

treeview.view.before:drop(active) { border-bottom-style: none; }

treeview header button { border-radius: 0; border-style: solid; border-width: 0 1px 1px 0; background-image: none; background-color: #e8e8e8; }

treeview header button:last-child { border-width: 0 0 1px 0; }

treeview header button:hover, treeview header button:focus:hover { background-image: none; background-color: #e8e8e8; }

treeview header button:active, treeview header button:focus:active { color: #101010; background-image: none; background-color: #d1d1d1; }

treeview entry, treeview entry.flat { border-radius: 0; background-image: none; background-color: #FFFFFF; }

treeview entry:focus, treeview entry.flat:focus { border-color: #4285c7; }

columnview.view > header > button, treeview.view > header > button { border-radius: 0; border-style: solid; border-width: 0 1px 1px 0; background-image: none; background-color: #e8e8e8; }

columnview.view > header > button:last-child, treeview.view > header > button:last-child { border-width: 0 0 1px 0; }

columnview.view > header > button:hover, columnview.view > header > button:focus:hover, treeview.view > header > button:hover, treeview.view > header > button:focus:hover { background-image: none; background-color: #e8e8e8; }

columnview.view > header > button:active, columnview.view > header > button:focus:active, treeview.view > header > button:active, treeview.view > header > button:focus:active { color: #101010; background-image: none; background-color: #d1d1d1; }

.view { color: #1a1a1a; background-color: #FFFFFF; }

.view:disabled { color: #7c7c7c; background-color: #dddddd; }

.view:selected, .view:selected:focus, .view text:selected, .view text:selected:focus, .view text selection, .view text selection:focus { color: #FFFFFF; background-color: #4285c7; border-radius: 0px; }

.view:selected:disabled, .view:selected:focus:disabled, .view text:selected:disabled, .view text:selected:focus:disabled, .view text selection:disabled, .view text selection:focus:disabled { color: #bebebe; background-color: #4285c7; }

.navigation-sidebar, placessidebar, .sidebar, stacksidebar { background-color: #FFFFFF; }

.navigation-sidebar row, placessidebar row, .sidebar row, stacksidebar row { outline: 0 solid transparent; outline-offset: 4px; }

.navigation-sidebar row:focus:focus-visible, placessidebar row:focus:focus-visible, .sidebar row:focus:focus-visible, stacksidebar row:focus:focus-visible { outline-color: rgba(66, 133, 199, 0.5); outline-width: 2px; outline-offset: -2px; }

.navigation-sidebar row.activatable.has-open-popup, .navigation-sidebar row.activatable:hover, placessidebar row.activatable.has-open-popup, placessidebar row.activatable:hover, .sidebar row.activatable.has-open-popup, .sidebar row.activatable:hover, stacksidebar row.activatable.has-open-popup, stacksidebar row.activatable:hover { color: #000000; background-color: #e6e6e6; }

.navigation-sidebar row.activatable:active, placessidebar row.activatable:active, .sidebar row.activatable:active, stacksidebar row.activatable:active { color: #000000; background-color: #d9d9d9; }

.navigation-sidebar row.activatable:selected:active, placessidebar row.activatable:selected:active, .sidebar row.activatable:selected:active, stacksidebar row.activatable:selected:active { color: #000000; background-color: #cccccc; }

.navigation-sidebar row.activatable:selected:hover, placessidebar row.activatable:selected:hover, .sidebar row.activatable:selected:hover, stacksidebar row.activatable:selected:hover { color: #000000; background-color: #e6e6e6; }

.navigation-sidebar row:selected, placessidebar row:selected, .sidebar row:selected, stacksidebar row:selected { color: #000000; background-color: #d9d9d9; }

stacksidebar.sidebar:dir(ltr) list, stacksidebar.sidebar.left list, stacksidebar.sidebar.left:dir(rtl) list { border-right: 1px solid #686869; border-left-style: none; }

stacksidebar.sidebar:dir(rtl) list, stacksidebar.sidebar.right list { border-left: 1px solid #686869; border-right-style: none; }

stacksidebar row { padding: 10px 4px; }

stacksidebar row > label { padding-left: 6px; padding-right: 6px; }

stacksidebar row.needs-attention > label { background-size: 6px 6px, 0 0; }

placessidebar > viewport.frame { border-style: none; }

placessidebar row { min-height: 36px; padding: 0px; }

placessidebar row > revealer { padding: 0 14px; }

placessidebar row image.sidebar-icon { opacity: 0.75; }

placessidebar row image.sidebar-icon:dir(ltr) { padding-right: 8px; }

placessidebar row image.sidebar-icon:dir(rtl) { padding-left: 8px; }

placessidebar row label.sidebar-label:dir(ltr) { padding-right: 2px; }

placessidebar row label.sidebar-label:dir(rtl) { padding-left: 2px; }

placessidebar row.sidebar-new-bookmark-row { color: #4285c7; }

placessidebar row:drop(active):not(:disabled) { color: #4285c7; box-shadow: inset 0 1px #4285c7, inset 0 -1px #4285c7; }

placessidebar row:drop(active):not(:disabled):selected { color: #FFFFFF; background-color: #4285c7; }

button.sidebar-button, button.sidebar-button:backdrop { min-width: 22px; min-height: 22px; margin-top: 2px; margin-bottom: 2px; padding: 0; border-radius: 100%; color: #000000; border-color: transparent; background-color: transparent; background-image: none; outline-color: transparent; }

button.sidebar-button:hover { color: #000000; }

button.sidebar-button:active { color: #333333; }

button.sidebar-button:not(:hover):not(:active) > image { opacity: 0.5; }

row { outline: 0 solid transparent; outline-offset: 4px; }

row:focus:focus-visible { outline-color: rgba(66, 133, 199, 0.5); outline-width: 2px; outline-offset: -2px; }

row.activatable.has-open-popup, row.activatable:hover { color: #000000; background-color: #e6e6e6; }

row.activatable:active { color: #000000; background-color: #d9d9d9; }

row.activatable:selected:active { color: #000000; background-color: #cccccc; }

row.activatable:selected:hover { color: #000000; background-color: #e6e6e6; }

row:selected { color: #000000; background-color: #d9d9d9; }

window { border-width: 0px; }

window.csd { border-radius: 4px 4px 0 0; border-width: 0px; box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #686869; margin: 10px; }

window.csd:backdrop { box-shadow: 0 8px 8px 0 transparent, 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #686869; }

.maximized window, .fullscreen window, .tiled window, .tiled-top window, .tiled-right window, .tiled-bottom window, .tiled-left window { border-radius: 0; }

window.popup { border-radius: 3px; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); }

.ssd window { border-radius: 4px 4px 0 0; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); }

.ssd window.maximized { border-radius: 0; }

tooltip.csd window { border-radius: 4px; box-shadow: none; }

.solid-csd window { margin: 1px; border-radius: 0px; background-color: rgba(255, 255, 255, 0.95); box-shadow: none; }

window.dialog.message .titlebar { background-image: linear-gradient(to bottom, #d4d4d4, #bcbbbb); border-bottom: 1px solid #686869; min-height: 24px; }

window.dialog.message decoration { border-radius: 4px 4px 0 0; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

window.dialog.message .dialog-action-area button { margin: 5px; }

/* GTK NAMED COLORS - use responsibly! */
/* widget text/foreground color */
@define-color theme_fg_color #101010;
/* text color for entries, views and content in general */
@define-color theme_text_color #1a1a1a;
/* widget base background color */
@define-color theme_bg_color #e8e8e8;
/* text widgets and the like base background color */
@define-color theme_base_color #FFFFFF;
/* base background color of selections */
@define-color theme_selected_bg_color #4285c7;
/* text/foreground color of selections */
@define-color theme_selected_fg_color #FFFFFF;
/* base background color of insensitive widgets */
@define-color insensitive_bg_color #dddddd;
/* text foreground color of insensitive widgets */
@define-color insensitive_fg_color #7c7c7c;
/* insensitive text widgets and the like base background color */
@define-color insensitive_base_color #FFFFFF;
/* widget text/foreground color on backdrop windows */
@define-color theme_unfocused_fg_color #101010;
/* text color for entries, views and content in general on backdrop windows */
@define-color theme_unfocused_text_color #1a1a1a;
/* widget base background color on backdrop windows */
@define-color theme_unfocused_bg_color #e8e8e8;
/* text widgets and the like base background color on backdrop windows */
@define-color theme_unfocused_base_color #FFFFFF;
/* base background color of selections on backdrop windows */
@define-color theme_unfocused_selected_bg_color #4285c7;
/* text/foreground color of selections on backdrop windows */
@define-color theme_unfocused_selected_fg_color #FFFFFF;
/* insensitive color on backdrop windows*/
@define-color unfocused_insensitive_color #b2b2b2;
/* widgets main borders color */
@define-color borders #686869;
/* widgets main borders color on backdrop windows */
@define-color unfocused_borders #d1d1d1;
/* these are pretty self explicative */
@define-color warning_color #FF9900;
@define-color error_color #CC0000;
@define-color success_color #39E4A3;
/* these colors are exported for the window manager and shouldn't be used in applications,
read if you used those and something break with a version upgrade you're on your own... */
@define-color wm_title shade(#101010, 1.8);
@define-color wm_unfocused_title #101010;
@define-color wm_highlight #000000;
@define-color wm_borders_edge #686869;
@define-color wm_bg_a shade(#e8e8e8, 1.2);
@define-color wm_bg_b #e8e8e8;
@define-color wm_shadow alpha(#000000, 0.35);
@define-color wm_border alpha(#000000, 0.18);
@define-color wm_button_hover_color_a shade(#e8e8e8, 1.3);
@define-color wm_button_hover_color_b #e8e8e8;
@define-color wm_button_active_color_a shade(#e8e8e8, 0.85);
@define-color wm_button_active_color_b shade(#e8e8e8, 0.89);
@define-color wm_button_active_color_c shade(#e8e8e8, 0.9);
@define-color content_view_bg #FFFFFF;
