// added the ext part for when we need selected (or dark) assets
@mixin check($ext : "") {
   background-image: linear-gradient(to bottom, #ffffff, #e8e8e8 50%, #ffffff);
    border-color: $borders_color;
    border-style:solid;
    border-radius: 2px;
    border-width: 1px;
    box-shadow: 0 1px transparentize(black, 0.95);
  &:disabled {}
  &:active, &:checked { 
      background: linear-gradient(to bottom, rgb(199, 220, 240) 0%, rgb(148, 190, 232) 15%, rgb(103, 165, 228) 54%, rgb(175, 229, 255) 88%, rgb(194, 251, 255) 100%);
      box-shadow: inset 0 1px 1px 0px rgba(0, 0, 0, 0.2);
     -gtk-icon-source: image(-gtk-recolor(url("assets/check-symbolic.svg")),
                                      -gtk-recolor(url("assets/check-symbolic.symbolic.png")));
    &:disabled {
    color: transparentize($fg_color, 0.3);
        background-image: linear-gradient(to bottom, desaturate(lighten($selected_bg_color, 5%), 100%) 20%, desaturate($selected_bg_color, 100%));
 }
  }
  &:indeterminate { -gtk-icon-source: image(-gtk-recolor(url("assets/dash-symbolic.svg")),
                                            -gtk-recolor(url("assets/dash-symbolic.symbolic.png")));      
    &:disabled { background-image:none; background-color: $base_color}
  }
  @if $ext ==selected {
  &:disabled { }
  &:active, &:checked { 
    &:disabled { }
  }
  &:indeterminate {      
    &:disabled { }
  }
  }
}


@mixin radio($ext : "") {
   background-image: linear-gradient(to bottom, #ffffff, #e8e8e8 50%, #ffffff);
    border-color: $borders_color;
    border-style:solid;
    border-radius: 40px;
    border-width: 1px;
    box-shadow: 0 1px transparentize(black, 0.95);
  &:disabled {}
  &:active, &:checked { 
      background: linear-gradient(to bottom, rgb(199, 220, 240) 0%, rgb(148, 190, 232) 15%, rgb(103, 165, 228) 54%, rgb(175, 229, 255) 88%, rgb(194, 251, 255) 100%);
      box-shadow: inset 0 1px 1px 0px rgba(0, 0, 0, 0.2);
     -gtk-icon-source: image(-gtk-recolor(url("assets/bullet-symbolic.svg")),
                                      -gtk-recolor(url("assets/bullet-symbolic.symbolic.png")));
    &:disabled {
    color: transparentize($fg_color, 0.3);
        background-image: linear-gradient(to bottom, desaturate(lighten($selected_bg_color, 5%), 100%) 20%, desaturate($selected_bg_color, 100%));
 }
  }
  &:indeterminate { -gtk-icon-source: image(-gtk-recolor(url("assets/dash-symbolic.svg")),
                                            -gtk-recolor(url("assets/dash-symbolic.symbolic.png")));      
    &:disabled { background-image:none; background-color: $base_color}
  }
  @if $ext ==selected {
  &:disabled { }
  &:active, &:checked { 
    &:disabled { }
  }
  &:indeterminate {      
    &:disabled { }
  }
  }
}

@mixin checkradio() {
  checkbutton.text-button, radiobutton.text-button {
    padding: 4px;
    outline-offset: 0;
  }

  check, radio {
    margin: 4px;
    min-height: $check_size;
    min-width: $check_size;    
  }
  
  check, .check { @include check();
    row:selected & { @include check("selected"); }
  }
  
  radio, .radio { @include radio();
    row:selected & { @include radio("selected"); }
  }
  
  menuitem, .menuitem, menuitem.button.flat, .menuitem.button.flat, modelbutton.flat, menuitem.button.flat {
    check { @include check();
      &:hover { @include check("selected"); }
    }
    radio { @include radio();
      &:hover { @include radio("selected"); }
    }
  }
}
