@mixin destructive_button() {
  button.destructive-action {
    border-width: 1px;
    border-style: solid;
    background-image:none;
    border-color: gtkmix($error_color, $fg_color, 0.2);
    border-radius: $button_radius;
    color: gtkmix($selected_fg_color, $error_color, 0.1);
    background-color: $error_color;

    &:hover {
      border-color: gtkmix($error_color, $fg_color, 0.3);
      background-color: gtkmix($error_color, $selected_fg_color, 0.2);
    }

    &:active {
      border-color: gtkmix($error_color, $fg_color, 0.3);
      background-color: gtkmix($error_color, $fg_color, 0.1);
    }

    &:backdrop {
      border-color: gtkmix($error_color, $unfocused_fg_color, 0.2);
      color: gtkmix($unfocused_selected_fg_color, $error_color, 0.1);
      background-color: gtkmix($error_color, $unfocused_bg_color, 0.3);
    }
  }
}
