@mixin entry() {
  dropdown,
combobox {
  arrow {
    -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
    min-height: 16px;
    min-width: 16px;
  }
  }


  entry {
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: $borders;
    border-radius: $entry_radius;
    color: $text_color;
    caret-color: currentColor;
    background-color: $base_color;

     
    &:active, &:focus {
      border-color: $selected_bg_color;
      box-shadow: inset 0 0 0 1px $selected_bg_color; border-color: $selected_bg_color; 
    }

    &:selected, &:selected:focus, selection, selection:focus {
      color: $selected_fg_color;
      background-color: $selected_bg_color;
       box-shadow: inset 0 0 0 1px $selected_bg_color; border-color: $selected_bg_color; 
    }

    &:disabled {
      color: $disabled_text_color;
      border-color: $borders;
      background-color: mix($bg_color, $base_color, 60%);

    }

    &:backdrop {
      color: $unfocused_fg_color;
      background-color: $unfocused_base_color;
    }

    > image {
      &.left {
        padding-right: 5px;
      }
      
      &.right {
        padding-left: 5px;
      }
    }

    progress {
      margin: -4px -4px;
      border-width: 0 0 2px;
      border-radius: 0;
      border-style: solid;
      border-color: $selected_bg_color;
      background-color: transparent;
    }

    &.flat, &.flat:focus {
      min-height: 0;
      padding: 3px;
      border-radius: 0;
      background-image: none;
      border-color: transparent;
    }

    &.search {
      border-radius: 40px;
    }
  }
}
