@mixin menu() {
  menu, .menu {
    margin: 4px;
    padding: 0;
    border-radius: $menu_radius;
    border-style: none;
    color: $menu_fg_color;
    background-color: $menu_bg_color;

    .csd & {
      padding: 4px 0px;
      border-radius: $menu_radius;
      border: none;
    }
    
    > arrow {
      padding: 4px;
      border-color: transparent;
      background-color: $menu_bg_color;
      min-width: 16px;
      min-height: 16px;

      &.top {
        margin-top: -6px;
        border-bottom: 1px solid gtkshade($menu_bg_color, 0.9);
        -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
      }

      &.bottom {
        margin-bottom: -6px;
        border-top: 1px solid gtkshade($menu_bg_color, 0.9);
        -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
      }
    }
  }
}

@mixin menubar() {
  menubar, .menubar {
    -GtkWidget-window-dragging: true;
    padding: 0;
    border-style: none;
    //background-color: $menubar_bg_color;
    color: $menubar_fg_color;
      background-image: linear-gradient(to bottom,#bab9b9,#adacac);
  }
}

@mixin menubar_menuitem() {
  menubar > menuitem, .menubar > menuitem {
    padding: 3px 5px;
    border: none;
    color: $menubar_fg_color;
    background-color: transparent;

    &:hover {
      color: $selected_fg_color;
      background-color: $selected_bg_color;
            background-image: linear-gradient(to bottom, #007ed5, #5b78f6 8%, #2f52ee );
    }

    &:disabled {
      color: $disabled_fg_color;
      background-color: transparent;
    }

    &:backdrop {
      color: $unfocused_fg_color;
      background-color: transparent;
    }
  }
}

@mixin menuitem() {
  menu menuitem, .menu menuitem {
    min-height: 16px;
    min-width: 40px;
    padding: 4px;
    border: none;
    border-radius: 0;
    color: $menu_fg_color;
    background-color: $menu_bg_color;

    &:hover {
      color: $selected_fg_color;
      background-color: $selected_bg_color;
       background-image: linear-gradient(to bottom, #007ed5, #5b78f6 8%, #2f52ee );
      
      switch slider, scale highlight, scale slider {
        background-color: $selected_fg_color;
      }
      
      scale trough, switch {
        background-color: gtkalpha($selected_fg_color, 0.75);
      }
    }

    &:disabled {
      color: gtkmix($menu_fg_color, $menu_bg_color, 0.5);
    }

    arrow {
      min-width: 16px;
      min-height: 16px;

      &:dir(ltr) {
        margin-left: 10px;
        -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
      }

      &:dir(rtl) {
        margin-right: 10px;
        -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
      }
    }
  }
  
  menuitem {
    accelerator {
      color: gtkalpha(currentColor, 0.55);

      &:hover {
        color: gtkalpha($selected_fg_color, 0.8);
      }

      &:disabled {
        color: gtkmix($menu_fg_color, $menu_bg_color, 0.5);
      }
    }
  }
}
