@mixin modelbutton() {
  modelbutton.flat, menuitem.button.flat, .menuitem.button.flat {
    padding: 2px 8px;
    border: none;
    color: $fg_color;
    background-color: transparent;

    &:hover, &:selected, &:active:hover {
      color: $selected_fg_color;
      background-color: $selected_bg_color;
      background-image: linear-gradient(to bottom, #007ed5, #5b78f6 8%, #2f52ee );
    }

    > image {
      padding-right: 4px;
    }

    arrow {
      &.left {
        -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
      }

      &.right {
        -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
      }
    }
  }
}
