@mixin scrollbar() {
  scrollbar {
    border: none;
    background-color: gtkshade($bg_color, 0.9);

    trough {
      border: none;
      border-radius: 0;
    }

    &:backdrop {
      background-color: gtkshade($unfocused_bg_color, 0.9);
    }

    slider {
      min-width: 13px;
    min-height: 13px;
      
      margin: 0;
      border-radius: $scrollbar_radius;
      background-clip: padding-box;
      background-color: gtkshade($bg_color, 0.6);

      &:hover {
        background-color: gtkshade($bg_color, 0.6);

        &:active {
          background-color: gtkshade($bg_color, 0.55);
        }
      }

      &:backdrop {
        background-color: gtkshade($bg_color, 0.55);
      }

      &:disabled {
        background-color: transparent;
      }
    }

    &.vertical slider {
      background-image: linear-gradient(to bottom, transparent, transparentize(white, 0.95) 30%,transparentize(white, 0.8) 50%,transparentize(white, 0.95) 80%, transparent ), linear-gradient(to right,rgb(55, 90, 187) 0%, rgb(139, 180, 227) 21%, rgb(75, 142, 220) 43%, rgb(69, 151, 246) 64%, rgb(106, 190, 255) 86%, rgb(99, 171, 242) 100%);
     border-top-width: 0px;
     background-size: 16px 20px, auto;
     border-radius: 6px;
    box-shadow: inset 0 1px #0028ab,
                inset 0 -1px #0028ab,
                inset 1px 0  #0028ab,
                inset -1px 0px #0028ab;
                   
     }

     &.horizontal slider {  
      background-image: linear-gradient(to right, transparent, transparentize(white, 0.95) 30%,transparentize(white, 0.8) 50%,transparentize(white, 0.95) 80%, transparent ), linear-gradient(to bottom,rgb(55, 90, 187) 0%, rgb(139, 180, 227) 21%, rgb(75, 142, 220) 43%, rgb(69, 151, 246) 64%, rgb(106, 190, 255) 86%, rgb(99, 171, 242) 100%);
     border-top-width: 0px;
     background-size: 20px 16px, auto;
    border-bottom-width: 0px;
    border-radius: 6px;
    box-shadow: inset 0 1px #0028ab,
                inset 0 -1px #0028ab,
                inset 1px 0  #0028ab,
                inset -1px 0px #0028ab;
     }


    &.fine-tune {
      slider {
        min-width: 6px;
        min-height: 6px;
        border-radius: $scrollbar_radius;
      }

      &.horizontal slider {
        margin-top: 1px;
        margin-bottom: 1px;
      }

      &.vertical slider {
        margin-left: 1px;
        margin-right: 1px;
      }
    }

    &.overlay-indicator:not(.dragging):not(.hovering) {
      border: none;
      opacity: 0.7;
      margin: 0;
      background-color: transparent;

      slider {
        margin: 0;
        min-width: 1px;
        min-height: 1px;
        background-color: gtkshade($bg_color, 0.6);
        border: none;
      }

      &.horizontal {
        slider {
          margin: 0;
          min-width: 40px;
        }
      }

      &.vertical {
        slider {
          margin: 0;
          min-height: 40px;
        }
      }
    }

    &.overlay-indicator {
      &.dragging, &.hovering {
        opacity: 1;
      }
    }

    &.horizontal {
      slider {
        min-width: 40px;
      }

      button {
        &.down {
          -gtk-icon-source: -gtk-icontheme("pan-right-symbolic");
        }

        &.up {
          -gtk-icon-source: -gtk-icontheme("pan-left-symbolic");
        }
      }
    }

    &.vertical {
      slider {
        min-height: 40px;
      }

      button {
        &.down {
          -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
        }

        &.up {
          -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
        }
      }
    }

    treeview ~ &.vertical {
      border-top: 1px solid $borders;
      margin-top: -1px;
    }
  }
}
