@mixin toolbar() {
  toolbar {
    padding: 4px;
    border: none;
    color: $fg_color;
    background-color: $toolbar_bg_color;
    background-image:  linear-gradient(to bottom, #adacac,#979597);

    &:backdrop {
      color: $unfocused_fg_color;
      background-color: $unfocused_bg_color;
    }

    &:disabled {
      color: $disabled_fg_color;
      background-color: $disabled_bg_color;
    }

    button.flat {
      @include flat_buttons($toolbar_bg_color, $toolbar_fg_color, $borders);
    }

    // menubar toolbars 
    menubar {
      -GtkToolbar-button-relief: normal;
    }
  }
}
